<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Language.ascx.cs" Inherits="tikAeroB2C.UserControls.Language" %>

<input type="hidden" id="hddlang" name="hddlang" value='<%=Session["LanCode"]%>' />
 <div Class="Flags" > 
     <asp:Literal ID="TabBar" runat="server"></asp:Literal>    
</div>
