body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
/*	background-color: #F8D43E;*/
	background-color: #FFFFFF;
	text-align: left;
}

a:link		{ color: #656565; }
a:visited 	{ color: #656565; }
a:hover 	{ color: #CC0000; }
a:active 	{ color: #656565; }

input {
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8pt;
	color: #595F63;
	font-weight: normal;
}

input.error{
	background-color: #FFA07A;
	border: 1px solid red;
	color: #000000
}

select {
	color: #595F63;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8pt;
	border: 1px solid #7F9DB9;
}

select.error{
	background-color: #FFA07A;
	border: 1px solid red;
	color: #000000
}

.base {
/*	padding: 0 5 0 5;*/
	background-color:#FFFFFF;
	width	: 760px;
	padding	: 0px;
	margin	: 0px;	
}
.base .content{
	background-color:#FFFFFF;
	float: left;
}
.base .content .contentHeader{
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
}
.base .quickSearch {
	float: left;
	width: 170px;
}
.base .quickSearch .quickSearchHeader{
	background: url(../Images/0/H/hqs.gif) fixed no-repeat left center;
	padding: 10px 0px 5px 0px;
}
.base .quickSearch DIV.label{
	float: left;
	padding: 2px 4px 2px 5px;
	text-align: right;
	vertical-align: middle;
}
.base .quickSearch DIV.input {
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8pt;
	float: left;
	padding: 2px 4px 2px 5px;
	text-align: left;
}

.exBase {
	background: #FFFFFF ;
	color: #013668;
	font-family: Tahoma, Arial, sans-serif, verdana; 
	font-size: 11px;
}

.exBase SELECT{
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8.1pt;
	color: #595F63;
	font-weight: normal;
}

.Buttons {
	background: #FFFFFF;
	color: #00FFFF;
	padding: 20px 0px 0px 0px;
}

.Buttons SPAN.Left					 {
	height: 20px;
	padding-top: 3px;
	text-align: left;
	width: 49%;
}

.Buttons SPAN.Right					 {
	height: 20px;
	padding-top: 3px;
	text-align: right;
	width: 50%;
}
.bullet                     {
    padding:2px 2px 2px 3px;
	color: #656565;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11.5px;
	font-weight: normal;
	text-align: left;
}
.Content						{
	color: #030303;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: normal;
	padding: 5px 10px 5px 13px;
	text-align: left;
}
.Content SPAN.a						{
    color: #BF1323;
}
.Content SPAN.Blue						{
    color: #034D9D;
	font-weight: bold;
}
.Content SPAN.b					{
    color: #000000;
	font-weight: bold;
}
.WhiteContent					{
    color: #ffffff;
	font-weight: bold;
	float: left;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
}
.ContentSpecial1					{
	color: #030303;
	float: left;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: normal;
	padding: 5px 10px 5px 0px;
	text-align: left;
}
.ContentTable0 {
	color: #030303;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	padding: 5px 10px 5px 13px;
	height: 25px;
	text-align: left;
}
.ContentTable1 {
    background-color: #FCE691;
	color: #034D9D;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 10px 5px 13px;
	height: 25px;
	text-align: left;
}
.ContentTable2 {
    background-color: #F8D43E;
	color: #034D9D;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 10px 5px 13px;
	height: 25px;
	text-align: left;
}

.footer 								{
	padding: 0px 0px 0px 0px;
	width: 760px;
}

.headerWithSub {
    background-color: #F9D43D;
	color			: #000000;
	font-family		: Tahoma, Arial, sans-serif, verdana;
	font-size		: 12px;
	font-weight		: bold;
	padding			: 2px 10px 5px 15px;
	text-align		: left;
}
.subHeader         {
    border-bottom: 1px solid #BF1323;
	border-width: 35px;
	color: #656565;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 2px 10px 5px 15px;
	text-align: left;
	height:18px;
}
.subHeader .tab{
	width			: 100%;
	height			: 18px;
	vertical-align	: middle;
	padding			: 2px;
	background-color: #E5E5E5;
}
.headcontent             {
	color: #000000;
	font-family: Tahoma, Arial, sans-serif, verdana; 
	font-size: 10pt;
	font-weight: bold;
	height: 35px;
	vertical-align:bottom;
}

.headBlue                {
	color: #024585;
	font-family: Tahoma, Arial, sans-serif, verdana; 
	font-size: 8pt;
	font-weight: bold;
	padding: 5px 0px 0px 40px;
}
/*.headBlue A:link				{
	color: ##024585;
}
.headBlue A:hover				{
	color: ##024585;
}
.headBlue A:visited				{
	color: ##024585;
}
.headBlue A:active			{
	color: #024585;
}
*/
.GridHeader                   {
	color: #CC0000;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
}
.GridContent                  {
	color: #656565;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11.5px;
	font-weight: normal;
	text-align: left;
}
.GridHeader2                  {
    background-color:#C7C7C7;
	border-color:#FFFFFF;
	border-style:solid;	
	color: #000000;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding:2px 2px 2px 5px;
}
.menu UL 								{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;

}

.menu UL LI								{
	float: left;
	list-style-type: none;
	text-align: left;
	/*border-bottom: 1px solid #053468;*/
}

.menu UL LI A							{
	border-bottom: 0;
	display: block;
	text-align: left;
}

.menu UL LI UL							{
	background-color: #FFFFFF;
	/*border: 1px solid #0D54B1;*/
	clear: left;
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0px;
	position: absolute;
	width: 120px;
	text-align: left;
	z-index: 100;
}

.menu UL LI UL LI						{
	background-color: #BF1323;
	width: 180px;
	text-align: left;
}

.menu UL LI UL LI A						{
	display: block;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8pt;
	color: #ffffff;
	font-weight: bold;
	padding: 3px 0px 3px 0px;
	text-decoration: none;
	width: 180px;
	text-align: left;
}

.menu UL LI UL LI A:hover				{
	background-color: #F84958;
	color: #ffffff;
}
.menu UL LI UL LI A:visited {
	color: #ffffff;
}
.menu UL LI UL LI A:active {
	color: #BF1323;
}
.menu UL LI.over UL{
	display: block;
}

.leftmenu {
	padding-bottom:2px;
}

.leftmenu .SPAN special	{
	padding-top:10px;
}


.Step {
	color: #5f5f5f;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	padding: 0px 0px 0px 5px;
	text-align: left;
	width: 100%;
}
.Step Span.a {
	color: #C4102F;
}


.StaticContentTable						{
	color: #0D54B1;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
	text-align: left;
}
.StaticContentHeader						{
	background-color: #ACB1B7;
	font-weight: bold;
}	
.StaticContentHeaderBold						{
	font-weight: bold;
}
.tableHead   {
    border-bottom: 1px solid #DAE1E6;
    background-color: #656565;
	color:#ffffff;
	font-family:Tahoma,Arial,Sans-serif,verdana;
	font-size:11;
	font-weight:bold;
	height: 20px;
	padding: 1px 1px 1px 5px;		
}
.tableData   {
    background-color: #D7D7D7;
	color:#4C4C4C;
	font-family:Tahoma,Arial,Sans-serif,verdana;
	font-size:11;
	font-weight:normal;
	height: 15px;
	padding: 1px 1px 1px 5px;		
}
.yellowBG	{
	background-color: #F9D43D;
}

#MenuIFrame
{
	display: none; 
	left: 0px;
	width: 100px;
	position: absolute;
	z-index: 99;
}

.tableContent {
	width		: 400px;
	margin-top	: 5px;
	margin-left	: 5px;
	margin-right: 10px;
	text-align	: left;
}
.normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.textBorderLeft {
	font-family			: Tahoma, Arial, sans-serif, verdana;
	font-size			: 9pt;
	color				: #333333;
	height				: 20px;
	border-left			: #000033 0.5pt solid;
}
.textBorder {
	font-family			: Tahoma, Arial, sans-serif, verdana;
	font-size			: 9pt;
	color				: #333333;
	height				: 20px;
	border-left			: #000033 0.5pt solid;
	border-right		: #000033 0.5pt solid;
}
