<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Breaks.ascx.cs" Inherits="tikAeroB2C.UserControls.Breaks" %>
   <div id="dvBreakMenu">
   <table width ="610" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" class="RegisterB2C">
		<tr><td class="headerWithSub">Aurigny Breaks</td></tr>
		<tr><td class="groupForm">
		<table>
		<tr><td><a href="#" onclick="LoadBonVoyageBreak();">Bon Voyage Break Request Form</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bBreaks2007.html');">Aurigny Breaks 2007</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bHealth.html');">Health Breaks</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bDinard.html');">Dinard</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bStmalo.html');">St Malo</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bDinan.html');">Dinan</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bGuernsey.html');">Guernsey</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bGolf.html');">Golf Breaks</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bJersey.html');">Jersey</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bStansted.html');">Stansted</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bManchester.html');">Manchester</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bAlderney.html');">Alderney</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bLondon.html');">London</a></td></tr>
		<tr><td><a href="#" onclick="GetBreakContent('bDolde.html');">Dol de Bretagne</a></td></tr>
		</table></td></tr>
	</table>
	</div>
	<br />
	<div id="dvResultBreak">
	</div>
	