/*******************/
/* CALENDAR */
/*******************/
.scrollpopup { 
	width: 181px; 
	line-height: 20px; 
	padding: 1px; 
	background: #ffffff;
	border: 1px solid #9249a3;
	margin-left: 100px;
}

.calendar_body {
	font-size: 12px;
	width: 180px;
	background: white;
	border: none;	
}

.calendar_body td { 	
	border: solid 1px #FFF;
	line-height: 18px;
}

.calendar_TitleStyle td {
	border: solid 1px #9249a3;
	color: #FFF;
}

.calendar_TitleStyle a{
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.calendar_dateselect {
	background: #a355ba !important;
	text-decoration: none;
}

.calendar_dateselect a {
	color: #FFF;
	text-decoration: none;
	font-size: 11px;
}

.Calendar_notinmonth {
	font-size: 11px;
	color:silver;
	background: #f3f3f3;
	border: solid 1px #e9f1f7;
}

.calendar_DayStyle {
	font-size: 11px;
	background: #d8ddee;
}

.calendar_DayStyle a,
.calendar_DayStyle a:hover,
.calendar_DayStyle a:active {
	font-size: 11px;
	color: #535353;
	text-decoration: none;
}

.calendar_DayHeader {
	font-weight: normal;
	font-size: 11px;
	background: #fff;
	color: #535353;
	border: solid 1px #FFF;
}

.CAL {
	position: absolute;
}

#Cal1 {
    margin-top: 40px;
	left: 246px !important;
}

#Cal2 {
    margin-top: 40px;
    margin-left: 285px;
	left: 246px !important;
}

*:first-child+html #Cal1,												/* CSS hack for IE7 only */
*:first-child+html #Cal2 {												
	top: 223px;
}

:root #Cal1, 																/* CSS hack for IE9 only */
:root #Cal2 {
	left: 249px \0/ !important;
} 

html>/**/body #Cal1, x:-moz-any-link, x:default,			/* CSS hack for FF only */
html>/**/body #Cal2, x:-moz-any-link, x:default { 
	left: 257px !important;
}

.close {
	text-align:right;
	display: none;
}

.calendar_TitleStyle {
	font-weight: bold;
	font-size: 11px;
	background-color: #9249a3;
}

.CalendarRemark { 
	display: none;
}

iframe {
	border:none;
}

iframe .frmcls {
	border:0px; 
	background:none;
	display: none;
}

iframe#fdCal1.frmcls,
iframe#fdCal2.frmcls {
	display: none !important;
}


/***********************************************/

#calendar,
#calendar2 {
    background: url(../Images/icon-calendar.png) no-repeat;
    height: 22px;
    width: 21px;
	cursor: pointer;
}

input#calendar,
input#calendar2 {
	border: none;
}