* {
	margin:0;
	padding:0;
	color: #535353;
}

/* mac hide \*/
html,body {
	height:100%;
	width:100%;
}
/* end hide */

body {
	/*text-align: center; */
	font: normal 11px Arial;
	padding: 0;
	margin: 0;
	cursor: default;
	min-height:468px;/* for ie7*/
}

img {
	padding: 0;
	margin: 0;
	border: none;
}

a, a:visited, a:active {
	color: #01306c;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

ul li, li {
	list-style-type: none;
}


/*select, input {
	font: normal 11px Meiryo,MS PGothic,ヒラギノ角ゴ Pro W3,Osaka,Tahoma,Arial;
	padding: 0;
	margin: 0;
}*/

input {
	height: 25px;
	font: normal 11px Meiryo,MS PGothic,ヒラギノ角ゴ Pro W3,Osaka,Tahoma,Arial;
	border-radius: 5px;
	border: solid 1px #c0c0c0;
	padding: 0 5px;
	line-height: 25px;
}


select {
	font: normal 11px Meiryo,MS PGothic,ヒラギノ角ゴ Pro W3,Osaka,Tahoma,Arial;
	border: solid 1px #c0c0c0;
	border-radius: 5px;
	padding: 3px 3px 3px 0px;
	height: 27px;
	float: left;
	
}

/*
select {
	height: 19px;
}
*/
.inputboxleft {
	background: url(../Images/inputboxleft.png) no-repeat;
	width: 5px;
	height: 27px;
	float: left;
}

.inputboxright {
	background: url(../Images/inputboxright.png) no-repeat;
	width: 5px;
	height: 27px;
	float: left;
}

.inputboxcontent {
	background: url(../Images/inputboxcontent.png) repeat-x;
	width: 50px;
	height: 27px;
	float: left;
}

@media screen and (-webkit-min-device-pixel-ratio:0){ /*hack safari only*/
	select { 	
		line-height: 15px;
	}
} 

html>/**/body select, x:-moz-any-link, x:default { 		/* CSS hack for FF only */
	/*padding-top: 1px;*/
}

html>/**/body input, x:-moz-any-link, x:default { 		/* CSS hack for FF only */
	/*height: 17px !important;*/
}

body:nth-of-type(1) input { 					 	/* CSS hack for Chrome Only */
	/*height: 15px;*/
}

input, select {
	vertical-align: middle;
}

label {
	height: 27px;	
}

.clear-all {
	clear: both;
}

.none {
	display: none;
}

.Button {
	float: left;
}

.Button a {
	float: left;
	text-decoration: none;
}

.ButtonTable {
	float: right;
	margin-right: 15px;
}

.ButtonTable a {
	float: right;
	text-decoration: none;
}

.no-col-three-button {
	width: 645px;
	margin-top: 15px;
}

.absolute {
	margin: -3px 0 0 15px;
}

.Left {
	/*float: left;*/
}

.Wrapper {
	margin: 0 auto; 
	text-align: left;
	width: 920px;
}

.Header {
	/*height: 72px;*/
}

.mainlogo {
	padding-top: 20px;
	float: left;
	cursor: pointer;
}

.fontB {
	font-weight: bold;
}

.Topic {
	font: bold 12px Meiryo,MS PGothic,ヒラギノ角ゴ Pro W3,Osaka,Tahoma,Arial;
	color: #605e5e;
}

.WhiteFont {
	color: #FFF;
}

.RedFontB {
	font: bold 11px Meiryo,MS PGothic,ヒラギノ角ゴ Pro W3,Osaka,Tahoma,Arial;
	color: #cc3333;
}

.WhiteTopic {
	font: bold 12px Meiryo,MS PGothic,ヒラギノ角ゴ Pro W3,Osaka,Tahoma,Arial;
	color: #FFF;
}

/*******************/
/* HEADER MENU */
/*******************/
.HeaderMenu {
	font-size: 12px;
	float: right;
	line-height: 14px;
}

.HeaderMenu .menu ul#nav {
	padding: 0;
	margin: 0;
}

.HeaderMenu ul li {
	display: inline;
	border-left: solid 1px #605e5e;
	padding: 0 10px;
}

.HeaderMenu ul li.first {
	border-left: none;
}

.stepbar,
.stepbar1,
.stepbar2,
.stepbar3 {
	width: 920px;
	height: 35px;
	padding-top: 5px;
	margin-bottom: 15px;
}

.stepbar {
	background: url(../Images/menubar.png) no-repeat;
}

.stepbar1 {
	background: url(../Images/step1.png) no-repeat;
}

.stepbar2 {
	background: url(../Images/step2.png) no-repeat;
}

.stepbar3 {
	background: url(../Images/step3.png) no-repeat;
}

.stepbar ul li,
.stepbar1 ul li,
.stepbar2 ul li,
.stepbar3 ul li {
	display: inline
}

.stepbar ul li.step1,
.stepbar1 ul li.step1,
.stepbar2 ul li.step1,
.stepbar3 ul li.step1 {
    float: left;
    width: 200px;
	margin-left: 110px;
}

.stepbar ul li.step2,
.stepbar1 ul li.step2,
.stepbar2 ul li.step2,
.stepbar3 ul li.step2 {
    float: left;
    width: 210px;
	margin-left: 90px;
}

.stepbar ul li.step3,
.stepbar1 ul li.step3,
.stepbar2 ul li.step3,
.stepbar3 ul li.step3 {
    float: left;
    width: 190px;
	margin-left:110px;
}

.stepbar ul li div,
.stepbar1 ul li div,
.stepbar2 ul li div,
.stepbar3 ul li div {
	float: left;
	font-size: 13px;
	font-weight: bold;
	line-height: 23px;
	margin-right: 5px;
}

.flightstep,
.personalstep,
.purchasestep,
.flightstepactive,
.personalstepactive,
.purchasestepactive {
   	float: left;
	width: 25px;
    height: 23px;
}

/*.flightstep {
    	background: url("../Images/flight.png") no-repeat;
}

.personalstep {
    	background: url("../Images/personal.png") no-repeat;
}

.purchasestep {
    	background: url("../Images/purchase.png") no-repeat;
}
*/

.stepactive {
	color: #FFF;
}
/*
.flightstepactive {
    	background: url("../Images/flightactive.png") no-repeat;
}

.personalstepactive {
    	background: url("../Images/personalactive.png") no-repeat;
}

.purchasestepactive {
    	background: url("../Images/purchaseactive.png") no-repeat;
}
*/

.topmenuleft {
	background: url("../Images/topmenuleft.png") no-repeat;	
	width: 30px;
	height: 34px;
	float: left;
}

.topmenucontent {
	background: url("../Images/topmenucontent.png") repeat-x;
	height: 34px;
	float: left;	
}

.topmenuright {
	background: url("../Images/topmenuright.png") no-repeat;
	width: 10px;
	height: 34px;
	float: left;	
}

.menu {
	font-weight: bold;
	line-height: 29px;	
}

/*******************/
/* TOP MENU */
/*******************/
.TopMenu {
	font-size: 12px;
	border-bottom: solid 1px #a8a8a8;
}

.TopMenu ul {
	padding: 0;
	margin: 10px 0 10px 17px;
}

.TopMenu ul li {
	display: inline;
	margin-right: 45px;
}

/*******************/
/* CONTENT DEFAULT */
/*******************/
.content-default {
	
}

/*******************/
/* BOX HEADER */
/*******************/
.boxheader {
	background: url(../Images/boxheader.jpg) repeat-x;
	font-weight: bold;
	font-size: 12px;
	height: 29px;
	padding: 0px 0 0 15px;
	line-height: 29px;
}

/*******************/
/* BUTTON */
/*******************/
a.defaultbutton {
    /* Sliding right image */
    background: transparent url(../Images/button_right.png) no-repeat scroll top right; 
	display: block;
	float: left;
	height: 39px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	padding-right: 18px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

a.defaultbutton span {
	/* Background left image */ 
	background: transparent url(../Images/button_left.png) no-repeat; 
	display: block;
	line-height: 25px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 7px 0 7px 35px;
	color: #FFFFFF;
}

a.defaultbutton:hover span{
	text-decoration: none;
}

a.processbutton {
    /* Sliding right image */
    background: transparent url(../Images/processbutton_right.png) no-repeat scroll top right; 
	display: block;
	float: left;
	height: 55px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	padding-right: 35px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
}

a.processbutton span {
	/* Background left image */ 
	background: transparent url(../Images/processbutton_left.png) no-repeat; 
	display: block;
	line-height: 41px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 7px 0 7px 50px;
	color: #FFFFFF;
}

a.processbutton:hover span{
	text-decoration: none;
}

a.viewbutton {
    /* Sliding right image */
    background: transparent url(../Images/viewbutton_right.png) no-repeat scroll top right; 
	display: block;
	float: left;
	height: 23px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	padding-right: 9px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	margin-right: 4px;
}

a.viewbutton span {
	/* Background left image */ 
	background: transparent url(../Images/viewbutton_left.png) no-repeat; 
	display: block;
	line-height: 9px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 7px 0 7px 22px;
	color: #FFFFFF;
}

a.viewbutton:hover span{
	text-decoration: none;
}


.BTN-Left { 
	background:url(../Images/leftbutton.png) no-repeat; 
	height:39px; 
	width:31px; 
	float:left;
}

.BTN-Middle { 
	background:url(../Images/middlebutton.png) repeat-x; 
	line-height:39px; 
	float:left; 
	color:#FFF; 
	height:39px;
	padding: 0 5px;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
}

.BTN-Right { 
	background:url(../Images/rightbutton.png) no-repeat; 
	height:39px; 
	width:10px; 
	float:left;
}

.ButtonEmail {
    float: left;
}

.ButtonEmailBox { float: left; margin-left: 143px; margin-top: 10px; }


/*******************/
/* FOOTER */
/*******************/
.Footer {
	margin-top: 30px;
	float: left;
	width: 950px;
}

.footerbg {
	background: #6d6e72;
	height: 36px;
}

.copyright {
	float: left;
	margin: 10px 0 0 10px;
	color: #FFF;
	font-size: 12px;
}

.mercator {
	float: right;
	margin: 10px;
}

.mercator .poweredby {
	float: left;
	margin: 2px 10px 0 0;
	color: #FFF;
	font-size: 12px;
}

.mercatorlogo {
	float: right;	
}

.systemtext {
	float: left;
	padding: 5px 12px 0 0;
}

.Mercator {
	float: left;
}

/************************************/
/* DISABLE WINDOW (FOR AJAX LOADER) */
/************************************/
.DisableWindow { 
	left: 0; 
	top: 0; 
	position: fixed; 
	background: #fff; 
	z-index: 1001; 
	-moz-opacity: 0.7; 
	opacity: .70; 
	filter: alpha(opacity=70);
	width: 100%;
	height: 100%;
	display: none;
}

/****************/
/* PROGRESS BAR */
/****************/
.ProgressBox,
.ErrorBox,
.ProgressBarBox { 
	display: none;
	left: 0;
}
.ErrorBox2 { 
	left: 0;
	position: fixed ; 
	z-index:1001;
	background: #ffffff;
	border: 1px solid #233371;
	width: 380px;
	padding: 15px 10px;
}

.LoadingBox {
    /*background: url(../Images/progressBG.png) no-repeat;*/
    width: 380px;
	/*height: 219px;*/
	padding: 10px;
	border: 1px solid #233371;
	background: #ffffff;
}

.LoadingBoxError {
	width: 450px;
}

.loadingtext {
	font-size: 13px;
	padding: 25px 0;
}

.progresstopleft {
    background: url(../Images/progresstopleft.png) no-repeat;
    width: 11px;
	height: 10px;
	float: left;
}

.progresstop {
    background: url(../Images/progresstop.png) repeat-x;
    width: px;
	height: 10px;	
	float: left;
}

.progresstopright {
    background: url(../Images/progresstopright.png) no-repeat;
    width: 10px;
	height: 10px;
	float: right;
}

.progressbottomleft {
    background: url(../Images/progressbottomleft.png) no-repeat;
    width: 11px;
	height: 10px;
	float: left;
}

.progressbottom {
    background: url(../Images/progressbottom.png) repeat-x;
    width: px;
	height: 10px;
	float: left;
}

.progressbottomright {
    background: url(../Images/progressbottomright.png) no-repeat;
    width: 10px;
	height: 10px;
	float: right;
}

.progressleft {
    background: url(../Images/progressleft.png) no-repeat;
    width: 11px;
	height: 10px;
	float: left;
}

.progressright {
    background: url(../Images/progressright.png) no-repeat;
    width: 10px;
	height: 10px;
	float: left;
}

.ErrorBoxHeader {
    margin: 0px 0px 0px 150px;
	width: 144px;
	height: 118px;
	/*background: url(../Images/mainlogo.png) no-repeat;*/
	padding-top: 20px;
}

.ErrorContent {
	margin-top: 25px;
}

.LoadingBoxMid {
	margin-bottom: 20px;
}

.LoadingStep {
	margin: 20px 0;
	text-align: center;
	display: none;
}

.bookinginform {
	margin-bottom: 10px;
	float: left;
	/*width: 667px;*/
}



/******************************/
/* PROGRESS BAR ADVERTISEMENT */
/******************************/
.advertisement {
	border-top: 1px solid #B5B4B0
}

.advertisement img {
	float: left;
	margin: 20px 20px 20px 50px;
}

.advertisementDetail {
	margin-top: 20px;
	text-align: left;
}

/*************/
/* ERROR BOX */
/*************/
.ErrorBoxMid { 
	/*margin:10px 0 10px 150px;*/
	float: left;
	margin-left: 15px;
    margin-right: 10px;
}

.ErrorBoxBot { 
	/*padding:10px 10px 20px 10px; */
	text-align:left; 
	font-weight:bold; 
	color:#b70007;
	float: left;
	width: 260px;
}

.ErrorDisableWindow { 
   display:none; 
   position:fixed; 
   top:0%; 
   left:0%; 
   width:100%; 
   height:100%; 
   background:#ffffff; 
   z-index:1001; 
   -moz-opacity:0.8; 
   opacity:.80; 
   filter:alpha(opacity=80); 
}

/***************/
/* AJAX BUTTON */
/***************/
.AjaxButton {
	margin: 30px 20px 0 0px;
	/*padding: 0 0 20px 0;*/
	cursor: pointer;
	float: right;
}

.boxborder {
	border: solid 1px #b5b4b0;
	margin-bottom: 15px;
}

.boxborder-nolinebottom {
	border-top: solid 1px #b5b4b0;
	border-left: solid 1px #b5b4b0;
	border-right: solid 1px #b5b4b0;
}

/******************/
/* Your Selection */
/******************/
.YourSelection {
	width: 230px;
	text-align: left;
	/*margin: 20px 0 0px 0;*/
	float: right;
	padding-right: 10px;
}

.reservation {
	float: left;
	margin: 5px 10px 0 45px;	
}


.rigntnavleft {
	background: url(../Images/rightnavleft.png) no-repeat;
	width: 10px;
	height: 31px;
	float: left;
}

.rightnavcontent {
	background: url(../Images/rightnavcontent.png) repeat-x;
	width: 210px;
	height: 31px;
	float: left;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	line-height: 31px;
	text-align: center;
}

.rightnavright {
	background: url(../Images/rightnavright.png) no-repeat;
	width: 10px;
	height: 31px;
	float: left;
}

.rightnavbottomleft {
	background: url(../Images/rightnavbottomleft.png) no-repeat;
	width: 11px;
	height: 13px;
	float: left;
}

.rightnavbottomcontent {
	background: url(../Images/rightnavbottomcontent.png) repeat-x;
	width: 218px;
	height: 13px;
	float: left;
}

.rightnavbottomright {
	background: url(../Images/rightnavbottomright.png) no-repeat;
	width: 11px;
	height: 13px;
	float: left;
}




.YourFlightSelected {
	/*border-bottom: solid 1px #b5b4b0;*/
	float: left;
}

#dvAdditionalFee {
	display: none;
	margin-top: 10px;
}

.OutboundFlight {
	margin: 10px 0 0px 0px;
	padding-right: 10px;
}

.InboundFlight {
	margin: 10px 0 10px 0px;
	padding-right: 10px;
}

.FlightType {
	color: #FFFFFF;
    	font: normal 13px Meiryo,MS PGothic,ヒラギノ角ゴ Pro W3,Osaka,Tahoma,Arial;
	text-align: center;
}

.flightnameleft {
	background: url(../Images/flightnameleft.png) no-repeat;
	width: 10px;
	height: 25px;
	float: left;
}

.flightname {
	background: #FFF;
	float: left;
    	text-align: center;
    	width: 188px;
	line-height: 25px;
}

.flightnameright {
	background: url(../Images/flightnameright.png) no-repeat;
	width: 10px;
	height: 25px;
	float: left;
}

.flightto {
	margin: 5px 0 5px 105px;
}

.airfareleftbox {
	background: url(../Images/whiteboxtopleft.png) no-repeat;
	width: 10px;
	height: 10px;
	float: left;
}

.airfaremiddle {
	background: #FFF;
	width: 188px;
	height: 10px;
	float: left;
}

.airfarerightbox {
	background: url(../Images/whiteboxtopright.png) no-repeat;
	width: 10px;
	height: 10px;
	float: left;
}

.airfarecontent {
	background: #FFF;
	width: 188px;
	float: left;
	padding: 0 10px;
}

.airfareleftbottombox {
	background: url(../Images/whiteboxbottomleft.png) no-repeat;
	width: 10px;
	height: 10px;
	float: left;
}

.airfaremiddlebottom {
	background: #FFF;
	width: 188px;
	height: 10px;
	float: left;
}

.airfarerightbottombox {
	background: url(../Images/whiteboxbottomright.png) no-repeat;
	width: 10px;
	height: 10px;
	float: left;
}

.TotalAllFare {
	margin-top: 10px;
}


.YourFlight {
	/*width: 295px;*/
}

.YourFlight ul {
	/*margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	margin-left: 20px;*/
	text-align: center;
	margin: 5px 0;
}

.YourFlight ul li {
	display: inline;
	margin-right: 10px;
	color: #fff;
}

.YourFlightTime {
    text-align: center;    
    width: 220px;
}

.YourFlightTimeDept,
.YourFlightTimeArri {
    /*float: left;
    width: 50%;*/
}

.YourFlightTimeDept,
.YourFlightTimeArri,
.YourFlightTimeDept span,
.YourFlightTimeArri span {
    color: #FFF;
}

.FareRule {
	margin: 5px 0;
	color: #fff;
}

.airfareheader {
	border-bottom: solid 1px #e2e2e2;
	padding-bottom: 5px;
	float: left;
}

.airfaretext {
	font-size: 13px;
	float: left;
	width: 188px;
}
.airfaretext div.lefttitle { float: left;}
.airfaretext div.rightcurrency { float: right; color:#da1d27; font-weight: bold; }
.Currency {
	/*margin: 10px 0px 0 0;*/
	text-align: right;
	padding: 0;
	font-size: 13px;
	/*width: 280px;*/
}

.PassengerSummary {
	margin: 0 15px 0 0;
	width: 198px;
	border-bottom: solid 1px #e2e2e2;
	float: left;
	padding: 5px 0;
}

.PassengerSummary div {
	float: left;
}

.amount {
	width: 30px;
	float: left;
}

.yourselecttype {
	/*width: 25%;*/
	float: left;
}

.person_price {
	width: 30%;
}

.amount_price {
	width: 30%;
	text-align: right;
}

.Taxes_Fees {
	float: left;
	width: 100px;
}

.charges {
	border-bottom: solid 1px #e2e2e2;
	float: left;
	width: 188px;
	padding: 5px 0;
}

.charges ul {
	margin: 0;
	padding: 0;
}

.charges ul li {
	float: left;
	width: 188px;
}

.charges ul li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.charges ul li ul {
	padding: 0;
	margin: 0;
}

.charges ul li ul li {
	/*width: 230px;*/
	margin-left: 10px;
	float: left;
}

.charges ul li ul li .charges_price {
	float: right;
	margin-right: 22px;
}

.charges ul li ul li .charges_name {
	float: left;
	width: 100px;
}

.collapse {
	float: left;
}	

.passengercollapse {
	float: right;
	margin: 2px 10px 0 0;
}

.charges_price_total {
	text-align: right;
	float: right;

}

.currencydisplay {
    float: left;
    margin-right: 5px;
}

#divAdditionalFeeTotal,
#dvCreditCardValue {
    float: left;
}

.FareTotalcurrencydisplay {
    color: #DE02B1;
    float: left;
    margin-right: 5px;
}

.totalfare {
	/*width: 280px;
	padding-bottom: 10px;*/
	float: right;
}

.totalfare .charges_price_total {
    	color: #DA1D27;
    	font-size: 16px;
    	font-weight: bold;
		float: right;
		margin-top: 5px;
}

.totalflight {
		color: #DA1D27;
    	float: left;
    	font-size: 11px;
    	font-weight: normal;
    	margin-top: 5px;
    	text-align: right;
    	width: 75px;
		margin-right: 15px;
}

.fare_price {
	text-align: right;
	margin-right: 15px;
}

#dvFareLine_Return {
	margin-bottom: 10px
}


.summary_total {
	margin-left: 15px;
	float: left;
}

.summary_price {
	text-align: right;
	margin-right: 15px;
}

.ArrowIconout {
	margin-left: -10px;
}

.ArrowIconin {
	margin-left: 6px;
}

.nopadding-margin {
	padding: 0;
	margin: 0;
	border-bottom: none;
}

.voucheroptional {
	border: solid 1px #b5b4b0;
	background: #E2E2E3;
}

/* Button */
/**********/
.ButtonAlignLeft { 
	float:left;
	margin-left: 10px;
}

.ButtonAlignRight { 
	float:right;
	margin-right: 10px;
}

.BTN-Search .ButtonAlignLeft {
	margin-top: 22px;
}

.BTN-Search .ButtonAlignRight {
	margin-top: 22px;
}

/* Table */
/*********/
table {
	border-collapse: collapse;
	width: 100%;
	color: #535353;
	/*height: 33px;*/
	line-height: 33px;
	background: #FFF;
}

table td {
	/*padding-left: 10px;*/
	border-right: dotted 1px #b0b0b0;
}

tr.Header {
	border-bottom: solid 1px #b0b0b0;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	
}

tr.HeaderItinerary {
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	
}

tr.Body {
	border-top: solid 1px #e3e3e3;
}

.Last {
	border-right: none !important;
}

.TableHead {
	background: #b8b8b8;
	color: #fff;
	font-weight: bold;
}


/*****************************/
/* Center Page Horizontal & Vertical */
/*****************************/

.xouter{
	height: 100%;
	width: 100%;
	display: table;
	vertical-align: middle;
	position: fixed;
	z-index: 1002;
	left: 0;
	/*margin-top: 127px;*/
}

.xcontainer {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}	

.xinner {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}


/* - */

.displaynone {
	display: none;
}

.gradient {
	color: #fff;
	padding: 0 10px;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#4157ac), to(#192965));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(#4157ac, #192965);
	/* IE10 Consumer Preview */
    background: -ms-linear-gradient(top, #4157ac 0%, #4157ac 100%);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4157ac, endColorstr=#192965);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4157ac, endColorstr=#192965)" !important;
	/*border-left: solid 1px #B5B4B0;
	border-right: solid 1px #B5B4B0;*/
	/* For Opera */
	background: -o-linear-gradient(top, rgba(65, 87, 172, 1), rgba(25, 41, 101, 1));
	width: 210px;
	float: left;
}


.bookinginform .gradient {
	color: #fff;
	padding: 0 10px;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#4157ac), to(#192965));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(#4157ac, #192965);
	/* IE10 Consumer Preview */
    background: -ms-linear-gradient(top, #4157ac 0%, #192965 100%);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4157ac, endColorstr=#192965);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4157ac, endColorstr=#192965)" !important;
	/* For Opera */
	background: -o-linear-gradient(top, rgba(65, 87, 172, 1), rgba(25, 41, 101, 1));
	/*border-left: solid 1px #B5B4B0;
	border-right: solid 1px #B5B4B0;*/
	width: 220px;
	float: right;
}

#flightselectiongradient {
	padding: 0px 10px 0 10px;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#d4d3d4));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(#f5f5f5, #d4d3d4);
	/* IE10 Consumer Preview */
    background: -ms-linear-gradient(top, #f5f5f5 0%, #d4d3d4 100%);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#d4d3d4);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#d4d3d4)";
		/* For Opera*/
	background: -o-linear-gradient(top, rgba(245, 245, 245, 1), rgba(212, 211, 212, 1));
	float: left;
}

#graygradient {
	padding: 10px 10px 0 10px;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#d4d3d4));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(#fefefe, #d4d3d4);
    /* IE10 Consumer Preview */
    background: -ms-linear-gradient(top, #fefefe 0%, #d4d3d4 100%);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe, endColorstr=#d4d3d4);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe, endColorstr=#d4d3d4)";
	/* For Opera*/
	background: -o-linear-gradient(top, rgba(254, 254, 254, 1), rgba(212, 211, 212, 1));
	float: left;
}

#seatboxgradient {
	padding: 10px 10px 0 10px;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#999999));
	/* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #dbdbdb 0%, #999999 100%);
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(#dbdbdb, #999999);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dbdbdb, endColorstr=#999999);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dbdbdb, endColorstr=#999999)";
	
	/* For Opera */
	background-image: -o-linear-gradient(#dbdbdb,#999999); 
	
	float: left;
	width: 940px;
}

.multipaymentgradient {
	padding: 10px 10px 0 10px;
	border-left: solid 1px #d9d9d9;
	border-right: solid 1px #d9d9d9;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#999999));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(#dbdbdb, #999999);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dbdbdb, endColorstr=#999999);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dbdbdb, endColorstr=#999999)";
	width: 948px;
	height: 500px;
  overflow-y: scroll;
}

#dvTotalAdditional {
	color: #DE02B1;	
}


/*****************************/
/* Table Style */
/*****************************/
.BoxtopleftCorner {
    background: url("../Images/boxtopleft.png") no-repeat;
    width: 11px;
}

.Boxtopmiddle {
    background: url("../Images/boxtopmiddle.png") repeat-x;
	line-height: 32px;
	font-size: 12px;
	font-weight: bold;
}

.Boxtopmiddle,
.BoxdownmiddleCorner,
.AvailabilitySearch {
	width: 634px;
}

.BoxtoprightCorner {
    background: url("../Images/boxtopright.png") no-repeat;
    width: 11px;
}

.BoxtopleftCorner, 
.Boxtopmiddle, 
.BoxtoprightCorner,
.reservationtopmiddle{
    float: left;
    height: 32px;
}

.BoxdownleftCorner {
    background: url("../Images/boxdownleft.png") no-repeat;
    width: 11px;
}

.BoxdownmiddleCorner {
    background: url("../Images/boxdownmiddle.png") repeat-x;
}

.BoxdownrightCorner {
    background: url("../Images/boxdownright.png") no-repeat;
    width: 11px;
}

.BoxdownleftCorner, 
.BoxdownmiddleCorner, 
.BoxdownrightCorner {
    float: left;
    height: 12px;
}

.innerBoxdownleftCorner {
	background: url("../Images/tablecontentleft.png") no-repeat;
	width: 10px;
	height: 10px;
	float: left;
}

.innerBoxdownmiddleCorner {
	background: url("../Images/tablecontent.png") repeat-x;
	height: 10px;
	float: left;
}

.innerBoxdownmiddleCorner,
.FirstContent,
.whiteboxbottomcontent,
.whiteboxtopcontent {
	width: 614px;
}

.innerBoxdownrightCorner {
	background: url("../Images/tablecontentright.png") no-repeat;
	width: 10px;
	height: 10px;
	float: left;
}

.reservationtopmiddle {
    background: url("../Images/boxtopmiddle.png") repeat-x;
    width: 612px;
	line-height: 32px;
}


.NextbuttonLeft {
    background: url("../Images/nextLeftBT.png") no-repeat;
    float: left;
    height: 46px;
    width: 33px;
}

.NextbuttonContent {
    background: url("../Images/nextMiddleBT.png") repeat-x;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 46px;
    line-height: 46px;
    padding: 0 0 0 5px;
}

.NextbuttonRight {
    background: url("../Images/nextRightBT.png") no-repeat;
    float: left;
    height: 46px;
    width: 21px;
}

.summary {
	margin-top: 10px;
	float: left;
}

.whiteboxtopleft {
    background: url("../Images/tableinnertopleft.png") no-repeat;
    float: left;
    height: 10px;
    width: 10px;	
}

.whiteboxtopcontent {
    background: url("../Images/whitebox.png") repeat-x;
    float: left;
    height: 10px;	
}

.whiteboxtopright {
    background: url("../Images/tableinnertopright.png") no-repeat;
    float: left;
    height: 10px;
    width: 10px;	
}

.whiteboxbottomleft {
    background: url("../Images/tableinnerbottomleft.png") no-repeat;
    float: left;
    height: 10px;
    width: 10px;	
}

.whiteboxbottomcontent {
    background: url("../Images/tableinnerbottom.png") repeat-x;
    float: left;
    height: 10px;	
}

.whiteboxbottomright {
    background: url("../Images/tableinnerbottomright.png") no-repeat;
    float: left;
    height: 10px;
    width: 10px;	
}

.innerwhitebox {
	background: #fff;
	border-left: solid 1px #c5c5c5;
	border-right: solid 1px #c5c5c5;
	/*float: left;*/
}

.lasttable {
	margin-bottom: 0;
}

.shadow {
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.marginleft10 {
	margin-left: 10px !important;
}

.watermarkOn {
	color: #949494;
    font-size: 11px;
}

.watermarkOff {
	color: #535353;
	font-size: 11px;
	font-weight: normal;
}

.TopinnerBox,
.BottominnerBox {
	/*float: left;*/
}

.errortop {
	background: url(../Images/errortop.png) no-repeat;
	width: 450px;
	height: 20px;
}

.errorcontent {
	background: url(../Images/errorcontent.png) repeat-y;
	width: 450px;
}

.errorbottom {
	background: url(../Images/errorbottom.png) no-repeat;
	width: 450px;
	height: 19px;
}

.passengerlisttop {
	background: url(../Images/passengerlisttop.png) no-repeat;
	width: 742px;
	height: 20px;
}

.passengerlistcontent {
	background: url(../Images/passengerlistcontent.png) repeat-y;
	width: 742px;
}

.passengerlistbottom {
	background: url(../Images/passengerlistbottom.png) no-repeat;
	width: 742px;
	height: 19px;
}

.closepage {
	float: right;
	text-decoration: none;
}

.closepage a {
	text-decoration: none;
}

.closepage div {
	text-decoration: underline;
	color: #DA1D27;
	float: left;
	margin-right: 5px;
}

.noborder {
	border: none;
}

.pinkfont {
	color: #DE02B1;
	margin-left: 35px;
}

/*demo page css*/
p.demoText { font-size: 11px; float: left; margin-left: 5px; }
.demoA, .demoB, .demoC, .cookietooltip, .SpecialInformationtooltip { position: relative; float: left;}

/***** COOKIE TOOLTIP *****/
.cookietooltip .fg-tooltip { left: -148px;  width: 306px; margin-top: -123px;}

html>/**/body .cookietooltip .fg-tooltip, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: -122px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 			/*hack Chrome only*/
	.demoC .fg-tooltip { 
		margin-top: -99px; 
		} 
}

.SpecialInformationtooltip .fg-tooltip { left: -50px;  width: 195px; margin-top: -100px;}

html>/**/body .SpecialInformationtooltip .fg-tooltip, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: -120px;
}

:root .SpecialInformationtooltip .fg-tooltip {margin-top: -80px; height: 50px;}

*:first-child+html .SpecialInformationtooltip .fg-tooltip {												/* CSS hack for IE7 only */												
	height: 40px;
	margin-top: -70px;
}

.demoA .fg-tooltip { left: -119px;  width: 306px; margin-top: -100px;}

html>/**/body .demoA .fg-tooltip, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: -120px;
}

:root .demoA .fg-tooltip {margin-top: -162px; height: 130px;}



/***** DEMO B ****/

.demoB .fg-tooltip { left: -80px; margin-top: -104px; width: 220px; }

html>/**/body .demoB .fg-tooltip, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: -118px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 			/*hack Chrome only*/
	.demoB .fg-tooltip { 
		margin-top: -112px; 
		} 
}

*:first-child+html .demoB .fg-tooltip {												/* CSS hack for IE7 only */												
	margin-top: -120px;
}

/***** DEMO C *****/
.demoC .fg-tooltip { left: -85px; margin-top: -92px; width: 275px; }

html>/**/body .demoC .fg-tooltip, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: -104px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 			/*hack Chrome only*/
	.demoC .fg-tooltip { 
		margin-top: -99px; 
		} 
}

.lowfaretooltip {
	position: relative;	
}

.lowfaretooltiptext {
	color: #FFF;	
}

.lowfaretooltip .fg-tooltip { left: -38px;  width: 160px; margin-top: -100px;}

html>/**/body .lowfaretooltip .fg-tooltip, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: -120px;
}

:root .lowfaretooltip .fg-tooltip {margin-top: -60px; height: 31px;}

.currencysymbol {
	float: left;
	margin-left: 15px;

}

/******************************/
/* Flight availability tooltip*/
/******************************/
.Flightdurationtooltip { 
	position: relative; 
	float: left;
}

.Flightdurationtooltip ul.tooltipcontent li {
		list-style-type: none;
		margin-left: 0;
		width: 190px;
}

.Flightdurationtooltip .fg-tooltip { 
	left: -75px;  
	width: 180px; 
	margin-top: -130px;
}

html>/**/body .Flightdurationtooltip .fg-tooltip, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: -150px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 			/*hack Chrome only*/
	.Flightdurationtooltip .fg-tooltip { 
		margin-top: -142px; 
		} 
}


/******************************/
/* Transit Flight tooltip*/
/******************************/
.Transitflighttooltip { 
	position: relative; 
	float: left;
	margin-top: 8px;
}
.Transitflighttooltip ul.tooltipcontent li {
	list-style-type: none;
}

.Transitflighttooltip .fg-tooltip { 
	left: -75px;  
	width: 180px; 
	margin-top: -100px;
}

html>/**/body .Transitflighttooltip .fg-tooltip, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: -120px;
}

:root .Transitflighttooltip .fg-tooltip {
	margin-top: -115px;
}

span.Email { font-size: 12px; font-weight: bold; padding-top: 15px; float: left; margin-left: 100px;}
span.Email input{ width: 200px; margin-left: 10px;}



.Parentmessage {
	float: left;
	width: 235px;	
	line-height: 20px;
	color: #B70007;
}

.Childmessage {
	width: 320px;
	margin-left: 10px;	
}

ul.Childmessage li .charges_name {
	color: red;	
}

.MessageGroup {
	margin-bottom: 5px;	
}
