.MultipletabTitle {
	font: 16px Arial;
	font-weight: bold;	
	color: #535353;
	padding: 20px 0;
	border-bottom: solid 1px #535353;
}

.Multipletab {
	background: #FFF;
	border: solid 1px #535353;
	border-radius: 7px;
	padding: 0 20px;
	margin: 100px auto;
	width: 640px
}

.MultipletabContent {
	font: 14px arial;
	padding: 20px 0;
}

.Logo {
	float: right;
	padding: 20px;
}