html, body { margin: 0;	padding: 0;	background-color: #fffdcc;	FONT-FAMILY: Tahoma, Arial, sans-serif, verdana;font-size:8pt;height: 100%;}
*html html, body {	margin: 0;	padding: 0;	background-color:#fffdcc;height: 100%;FONT-FAMILY: Tahoma, Arial, sans-serif, verdana;	font-size:8pt; }
IMG {BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px}
.clearboth {clear:both; float:none; margin:0px; padding:0px; width:auto; height:1px;}
.Wrapper { background-color:#FFFFFF; WIDTH:860px; TEXT-ALIGN: left; margin:0px auto; min-height: 500px; height: auto;}
.WrapperBody { padding:20px 10px 50px 10px; width:840px; background-color:#FFFFFF; height: 500px;}
.Heading1  { float: left; font-family: Tahoma, Arial, sans-serif, verdana;font-weight: bold; color:#FF9900; font-size: 14px;}
.Heading2  { float: left; font-family: Tahoma, Arial, sans-serif, verdana; font-weight: bold; color:#e86200; font-size: 12px;}
.Heading3  { float: left; font-family: Tahoma, Arial, sans-serif, verdana; font-weight: bold; color:#000000; font-size: 12px; text-decoration: underline;}

.ImgHeader{ background-image:url(../Images/ImgHeader.jpg); background-repeat:no-repeat; width:860px; height:155px; }
.TBLleftbody { float: left; width: 610px; background: #ffffff; font-family: Tahoma, Arial, sans-serif, verdana; font-size: 10pt; }
.TBLleftbody td{ padding-top: 0px; padding-bottom: 0px;}
.TextBody { color: #333333;}


.TBLbody { float: left; width: 860px; background: #ffffff; font-family: Tahoma, Arial, sans-serif, verdana; font-size: 10pt; }
.TBLbody td{ padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px;}


/*Footer*/
.Footer{ width:860px; height:45px; background-color: #ffffff; padding: 20px 0px 0px 0px; margin: 0px auto; height: 30px;}
.FooterBox { float: left; width: 860px; background-color: #f99303; height: 30px;}
.FooterBox ul { padding: 0px; margin: 0px; list-style: none;}
.FooterBox li.left { float: left; padding: 5px 0px 0px 10px; }
.FooterBox li.right { float: right; padding: 5px 10px 0px 0px; }


/*LeftMenu*/
.TBLLeftMenu { float: left; width: 214px; margin-left: 20px; margin-top: 20px;}
.TBLLeftMenu td.Top{ height: 16px; background: url(./../images/Mtop.jpg) no-repeat; }
.TBLLeftMenu td.Bottom{ height: 19px; background: url(./../images/Mbot.jpg) no-repeat; }
.TBLLeftMenu td{ height: 27px; background: url(./../images/Mtabbg.jpg) no-repeat; font-size: 11px; font-family: Tahoma, Arial, sans-serif, verdana;padding-left: 35px;}
.TBLLeftMenu td a{ float: left; text-decoration: none; color: #c85e10; font-weight: bold;}
.TBLLeftMenu td a:hover{ float: left; color: #333333;}

.TBLTopMenu { width: 860px; height: 50px; background: url(./../images/Mtopbg.jpg);}
.TBLTopMenu td { text-align: right; padding-right: 20px; padding-bottom: 10px; font-size: 11px;}
.TBLTopMenu td a{ color: #c85e10; font-weight: bold; padding-left: 15px; text-decoration: none;}

/*CMSLogin*/
.TBLCMSlogin { float: left; width: 500px; height: 400px; margin-left: 150px;}
.CMSloginHeader { font-family: Tahoma, Arial, sans-serif, verdana; font-size: 10pt; font-weight: bold; height: 30px;}
.FormCustomerLogin{
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 10px;
	float: left;
	color: #de410a;
}

.FormCustomerLogin DIV.input {
	float: left;
	text-align: left;
	vertical-align: middle;
	padding: 5px 5px 20px 5px;
	width: 120px;
	height: 25px;
}

.FormCustomerLogin DIV.label{
	float: left;
	text-align: left;
	vertical-align: middle;
	padding: 7px 0px 0px 10px;
	width: 160px;
	height: 25px;
}

.FormCustomerLogin TD.error {COLOR: #ff0000; TEXT-ALIGN: right}




body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
/*	background-color: #F8D43E;*/
	text-align: left;
}

a:link		{ color: #656565; }
a:visited 	{ color: #656565; }
a:hover 	{ color: #CC0000; }
a:active 	{ color: #656565; }

input {
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8pt;
	color: #595F63;
	font-weight: normal;
}

input.error{
	background-color: #FFA07A;
	border: 1px solid red;
	color: #000000
}

select {
	color: #595F63;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8pt;
	border: 1px solid #7F9DB9;
}

select.error{
	background-color: #FFA07A;
	border: 1px solid red;
	color: #000000
}

.base {
/*	padding: 0 5 0 5;*/
	background-color:#FFFFFF;
	width	: 760px;
	padding	: 0px;
	margin	: 0px;	
}
.base .content{
	background-color:#FFFFFF;
	float: left;
}
.base .content .contentHeader{
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
}
.base .quickSearch {
	float: left;
	width: 170px;
}
.base .quickSearch .quickSearchHeader{
	background: url(../../Images/0/H/hqs.gif) fixed no-repeat left center;
	padding: 10px 0px 5px 0px;
}
.base .quickSearch DIV.label{
	float: left;
	padding: 2px 4px 2px 5px;
	text-align: right;
	vertical-align: middle;
}
.base .quickSearch DIV.input {
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8pt;
	float: left;
	padding: 2px 4px 2px 5px;
	text-align: left;
}

.exBase {
	background: #FFFFFF ;
	color: #013668;
	font-family: Tahoma, Arial, sans-serif, verdana; 
	font-size: 11px;
}

.exBase SELECT{
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8.1pt;
	color: #595F63;
	font-weight: normal;
}

.Buttons {
	background: #FFFFFF;
	color: #00FFFF;
	padding: 20px 0px 0px 0px;
}

.Buttons SPAN.Left					 {
	height: 20px;
	padding-top: 3px;
	text-align: left;
	width: 49%;
}

.Buttons SPAN.Right					 {
	height: 20px;
	padding-top: 3px;
	text-align: right;
	width: 50%;
}
.bullet                     {
    padding:2px 2px 2px 3px;
	color: #656565;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11.5px;
	font-weight: normal;
	text-align: left;
}
.Content						{
	color: #030303;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: normal;
	padding: 5px 10px 5px 13px;
	text-align: left;
}
.Content SPAN.a						{
    color: #BF1323;
}
.Content SPAN.Blue						{
    color: #034D9D;
	font-weight: bold;
}
.Content SPAN.b					{
    color: #000000;
	font-weight: bold;
}
.WhiteContent					{
    color: #ffffff;
	font-weight: bold;
	float: left;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
}
.ContentSpecial1					{
	color: #030303;
	float: left;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: normal;
	padding: 5px 10px 5px 0px;
	text-align: left;
}
.ContentTable0 {
	color: #030303;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	padding: 5px 10px 5px 13px;
	height: 25px;
	text-align: left;
}
.ContentTable1 {
    background-color: #FCE691;
	color: #034D9D;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 10px 5px 13px;
	height: 25px;
	text-align: left;
}
.ContentTable2 {
    background-color: #F8D43E;
	color: #034D9D;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 10px 5px 13px;
	height: 25px;
	text-align: left;
}

.footer 								{
	padding: 0px 0px 0px 0px;
	width: 760px;
}

.headerWithSub {
    background-color: #F9D43D;
	color			: #000000;
	font-family		: Tahoma, Arial, sans-serif, verdana;
	font-size		: 12px;
	font-weight		: bold;
	padding			: 2px 10px 5px 15px;
	text-align		: left;
}
.subHeader         {
    border-bottom: 1px solid #BF1323;
	border-width: 35px;
	color: #656565;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: bold;
	padding: 2px 10px 5px 15px;
	text-align: left;
	height:18px;
}
.subHeader .tab{
	width			: 100%;
	height			: 18px;
	vertical-align	: middle;
	padding			: 2px;
	background-color: #E5E5E5;
}
.headcontent             {
	color: #000000;
	font-family: Tahoma, Arial, sans-serif, verdana; 
	font-size: 10pt;
	font-weight: bold;
	height: 35px;
	vertical-align:bottom;
}

.headBlue                {
	color: #024585;
	font-family: Tahoma, Arial, sans-serif, verdana; 
	font-size: 8pt;
	font-weight: bold;
	padding: 5px 0px 0px 40px;
}
/*.headBlue A:link				{
	color: ##024585;
}
.headBlue A:hover				{
	color: ##024585;
}
.headBlue A:visited				{
	color: ##024585;
}
.headBlue A:active			{
	color: #024585;
}
*/
.GridHeader                   {
	color: #CC0000;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
}
.GridContent                  {
	color: #656565;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11.5px;
	font-weight: normal;
	text-align: left;
}
.GridHeader2                  {
    background-color:#C7C7C7;
	border-color:#FFFFFF;
	border-style:solid;	
	color: #000000;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding:2px 2px 2px 5px;
}
.menu UL 								{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;

}

.menu UL LI								{
	float: left;
	list-style-type: none;
	text-align: left;
	/*border-bottom: 1px solid #053468;*/
}

.menu UL LI A							{
	border-bottom: 0;
	display: block;
	text-align: left;
}

.menu UL LI UL							{
	background-color: #FFFFFF;
	/*border: 1px solid #0D54B1;*/
	clear: left;
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0px;
	position: absolute;
	width: 120px;
	text-align: left;
	z-index: 100;
}

.menu UL LI UL LI						{
	background-color: #BF1323;
	width: 180px;
	text-align: left;
}

.menu UL LI UL LI A						{
	display: block;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8pt;
	color: #ffffff;
	font-weight: bold;
	padding: 3px 0px 3px 0px;
	text-decoration: none;
	width: 180px;
	text-align: left;
}

.menu UL LI UL LI A:hover				{
	background-color: #F84958;
	color: #ffffff;
}
.menu UL LI UL LI A:visited {
	color: #ffffff;
}
.menu UL LI UL LI A:active {
	color: #BF1323;
}
.menu UL LI.over UL{
	display: block;
}

.leftmenu {
	padding-bottom:2px;
}

.leftmenu .SPAN special	{
	padding-top:10px;
}


.Step {
	color: #5f5f5f;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	padding: 0px 0px 0px 5px;
	text-align: left;
	width: 100%;
}
.Step Span.a {
	color: #C4102F;
}


.StaticContentTable						{
	color: #0D54B1;
	font-family: Tahoma, Arial, sans-serif, verdana;
	font-size: 11px;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
	text-align: left;
}
.StaticContentHeader						{
	background-color: #ACB1B7;
	font-weight: bold;
}	
.StaticContentHeaderBold						{
	font-weight: bold;
}
.tableHead   {
    border-bottom: 1px solid #DAE1E6;
    background-color: #656565;
	color:#ffffff;
	font-family:Tahoma,Arial,Sans-serif,verdana;
	font-size:11;
	font-weight:bold;
	height: 20px;
	padding: 1px 1px 1px 5px;		
}
.tableData   {
    background-color: #D7D7D7;
	color:#4C4C4C;
	font-family:Tahoma,Arial,Sans-serif,verdana;
	font-size:11;
	font-weight:normal;
	height: 15px;
	padding: 1px 1px 1px 5px;		
}
.yellowBG	{
	background-color: #F9D43D;
}

#MenuIFrame
{
	display: none; 
	left: 0px;
	width: 100px;
	position: absolute;
	z-index: 99;
}

.tableContent {
	width		: 400px;
	margin-top	: 5px;
	margin-left	: 5px;
	margin-right: 10px;
	text-align	: left;
}
.normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

.textBorderLeft {
	font-family			: Tahoma, Arial, sans-serif, verdana;
	font-size			: 9pt;
	color				: #333333;
	height				: 20px;
	border-left			: #000033 0.5pt solid;
}
.textBorder {
	font-family			: Tahoma, Arial, sans-serif, verdana;
	font-size			: 9pt;
	color				: #333333;
	height				: 20px;
	border-left			: #000033 0.5pt solid;
	border-right		: #000033 0.5pt solid;
}