﻿<link href="../stylesheets/cms_stylesheet.css"  rel="stylesheet" type="text/css">
<!-- <template.en.home.flightsearch.html> -->
<table class="TBLContent" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td class="headerWithSub">Arrivals</td>
		</tr>
		<tr>
		  <td class="content">You can check live flight arrival information at most airports served by Aurigny.</td>
	  </tr>
		<tr>
		  <td class="subHeader"><a href="http://www.guernsey-airport.gov.gg/arrivals.html" target="_blank">Guernsey</a></td>
	  </tr>
		<tr>
		  <td class="subHeader"><a href="http://www2.jerseyairport.com/index.j.asp?NavID=25" target="_blank">Jersey</a></td>
	  </tr>
		<tr>
		  <td class="subHeader"><a href="http://www.gatwickairport.com/portal/site/gatwick/template.PAGE/menuitem.2599c5f61f44dd2c63f0ec109328c1a0/?javax.portlet.begCacheTok=token&javax.portlet.endCacheTok=token&javax.portlet.tpst=0e7779ba607da345b03f78109328c1a0&javax.portlet.prp_0e7779ba607da345b03f78109328c1a0_flightRoute=Guernsey&javax.portlet.prp_0e7779ba607da345b03f78109328c1a0_flightNumber=GR&javax.portlet.prp_0e7779ba607da345b03f78109328c1a0_flightTerminal=6" target="_blank">London Gatwick</a></td>
	  </tr>
		<tr>
		  <td class="subHeader"><a href="http://www.manchesterairport.co.uk/app/ADSearch?searchAirport=Guernsey&searchType=A&cb=1182582874828&page=1&ipp=10" target="_blank">Manchester</a></td>
	  </tr>
		<tr>
		  <td class="subHeader"><a href="http://www.bristolairport.co.uk/flight_information/arrivals_board.aspx?arrivalsFrom=GUERNSEY&arrivalsFlightNumber=&x=29&y=9" target="_blank">Bristol</a></td>
	  </tr>
		<tr>
		  <td class="subHeader"><a href="http://www.baa.com/portal/site/default/template.PAGE/menuitem.cbf0b50f695b508688eba0109328c1a0/?javax.portlet.begCacheTok=token&javax.portlet.endCacheTok=token&javax.portlet.tpst=0768b30c9be036fa10d48f109328c1a0&javax.portlet.prp_0768b30c9be036fa10d48f109328c1a0_flightRoute=guernsey&javax.portlet.prp_0768b30c9be036fa10d48f109328c1a0_flightNumber=&javax.portlet.prp_0768b30c9be036fa10d48f109328c1a0_flightTerminal=&x=39&y=11" target="_blank">London Stansted</a></td>
	  </tr>
		<tr>
		  <td class="subHeader"><a href="http://www.baa.com/portal/site/default/template.PAGE/menuitem.1a12737ed9c3708688eba0109328c1a0/?javax.portlet.begCacheTok=token&javax.portlet.endCacheTok=token&javax.portlet.tpst=4209b78dac5c26fa10d48f109328c1a0&javax.portlet.prp_4209b78dac5c26fa10d48f109328c1a0_flightRoute=alderney&javax.portlet.prp_4209b78dac5c26fa10d48f109328c1a0_flightNumber=&javax.portlet.prp_4209b78dac5c26fa10d48f109328c1a0_flightTerminal=&x=34&y=9" target="_blank">Southampton</a></td>
	  </tr>
	</tbody>
</table>
