<center>
<div class="Footer">
						<div class="FooterBox">
						<div class="FooterFFP">
					<span class="left">&copy; 2010 Air Caledonie.  All rights reserved.</span>
					<span class="right system">System by<a href="http://www.mercator.com" target="_blank"><img src="../../App_Themes/Default/Images/mercator_logo.png" border="0" /></a></span>
				</div>
						 </div>
						</div>
</center>



