<center>
<div class="Footer">
						<div class="FooterBox">
						<ul>
						<li class="left">
						 &copy; 2009 Air Caledonie.  All rights reserved.
						 </li>
						 <li class="right"><a href="http://www.tiksystems.com" target="_blank"><img src="../../App_Themes/Default/Images/tiklogo.gif" border="0" /></a> </li>
						 </ul>
						 </div>
						</div>
</center>



