﻿<link href="styleSheets/cms_stylesheet.css"  rel="stylesheet" type="text/css">
<script language=javascript src="../../scripts/forCMS.js"></script>

<table class="TBLbody">
  <tr>
    <td class="Heading1">Pass Air Caledonie </td>
  </tr>
  <tr>
    <td class="TextBody">For international travellers staying under 3 months in New Caledonia.</td>
  </tr>
  <tr>
    <td class="Heading3">Pass Specials </td>
  </tr>
  <tr>
    <td class="TextBody">4 flights or more available on Air Cal้donie network at a special far้; 
Additional flights available from airline sales offices; 
Pay one flight only when flying Tchap Tchap inter loyalty islands </td>
  </tr>
  <tr>
    <td class="Heading3">Conditions </td>
  </tr>
  <tr>
    <td class="TextBody">Passport and international flight reservation requested at time booking; <br />
      Pass must be fully paid before flying first sector; <br />
    You must use Pass all of your within 2 months after first sector's departure date</td>
  </tr>
  <tr>
    <td class="Heading2">Additional AirFare Contribution (AAC) : fixed amount per flight coupon issued without agent commission whatever flight chosen on Air Calédonie network flights including reduced fares, ID fares and CHD/INF fares. <br /></td>
  </tr>
</table>
