BODY {
SCROLLBAR-FACE-COLOR: #ffffff; 
SCROLLBAR-HIGHLIGHT-COLOR: #999999; 
SCROLLBAR-SHADOW-COLOR: #999999; 
SCROLLBAR-ARROW-COLOR: #666666; 
SCROLLBAR-TRACK-COLOR: #ffffff; 
SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
SCROLLBAR-BASE-COLOR: #ffffff; 
SCROLLBAR-3D-LIGHT-COLOR: #ffffff
}


a:link     { color: #B4B4B4; text-decoration: none }
a:visited   { color: #999999 ; text-decoration: none }
a:active   { color: #999999; text-decoration: none }
a:hover    { color: #06ADC0 ; text-decoration:none ; text-decoration:underline }



td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

.submenu {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #7BE2FF;
}

.smartNavi {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #999999;
	text-align : justify;
	padding-right:20px;
	width:651px;
	height: 32px;
	background: url(../images/bg_smartnavi.gif) no-repeat;
}

.contentText {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #666666;
	text-align : justify;
	padding-right : 6 ;
}

.contentText2 {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #0094A5;
	text-align : justify;
	padding-right : 6 ;
}
.contentText3 {	font-family : Tahoma, Arial, Helvetica, sans-serif;	font-size : 11px; color : #0094A5;	text-align : justify; width: 15px; text-align:center;}

#pagenumber { margin-top: 100px; }
#pagenumber td.body {font-family : Tahoma, Arial, Helvetica, sans-serif;	font-size : 11px; color : #666666;	text-align : justify; width: 13px; height: 13px; text-align:center; border: 1px solid #999999;}

.pagingText {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #666666;
}

.NewsTitleText {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color : #666666;
}

.NewsDateText {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #DDDDDD;
}

.contactUs{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #666666;
	text-align : justify;
}

.subTitle {
	font-family : Tahoma, Trajan-Normal, Arial, Helvetica, sans-serif;
	font-size : 15px;
	color : #0094A5;
}
.subTitle1 {
	font-family: Verdana;
	color: #00B3C1;
	font-size: 10px;
	font-weight: bold;
}

.flightSchedule{
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #079BAC;
	text-align : justify;
	padding-left : 14 ;
}

.flightScheduleBox{
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #079BAC;
	text-align : justify;
	padding-left : 2 ;
}


.NewsTitleTextHome {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #79926A;
	padding-left : 14 ;
	padding-right : 10 ;
}

.NewsDateTextHome {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	color : #79926A;
	padding-left : 14 ;
	padding-right : 10 ;
}

