a:link     { color: #99999; text-decoration: none }
a:visited   { color: #999999 ; text-decoration: none }
a:active   { color: #999999; text-decoration: none }
a:hover    { color: #999999 ; text-decoration:none ; text-decoration:underline }



td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

.submenu {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #FCCA15;
}

.smartNavi {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #999999;
	text-align : justify;
}

.contentText {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #666666;
	text-align : justify;
}

.contentText2 {
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #0094A5;
	text-align : justify;
}

.contactUs{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #666666;
	text-align : justify;
}

.subTitle {
	font-family : Tahoma, Trajan-Normal, Arial, Helvetica, sans-serif;
	font-size : 15px;
	color : #0094A5;
}