﻿table.TBLYourFlight {
    border: 1px solid #D9D9D9;
    border-radius: 10px 10px 10px 10px;
    display: block;
    margin-top: -7px;
    /*position: relative;*/
    z-index: 1;
    background: #FFF;
    float: left;
}

.TBLYourFlight tr.FlightHeader td {
	height: 30px;	
}

.showdategroup {
	float: left;
	margin: 0 9px 0 44px;
	/*position: absolute;*/
}

.dateback {
	float: left;
	margin: 30px 10px 0 10px;
	position: absolute;
}

.datenext {
	float: left;
	margin: 30px 10px 0 0px;	
}

.showdate {
	float: left;
	margin-top: 20px;
}

.showdateselect {
	float: left;
	background: #D5E1EA;
	border-radius: 7px 7px 0 0;
	/*width: 146px;*/
	height: 90px;
	position: relative;
	z-index: 2;
}

.FlightHeader {
	border-bottom: 1px solid #D5E1EA;
	color: #FFFFFF;
}

.TBLYourFlight td.HeadCOL1 { 
	width: 65px;
	background: #D5E1EA;
	padding-left: 10px;
	border-radius: 7px 0 0 0;
}

.TBLYourFlight td.HeadCOL2 { 
	width: 5%;
	text-align: center;
}

.TBLYourFlight td.HeadCOL3 { 
	width: 10%; 
	text-align:center;
}
	
.TBLYourFlight td.HeadCOL4 { 
	width: 250px; 
	text-align: left;
	background: #D5E1EA;
}
	
.TBLYourFlight td.HeadCOL6 { 
	width: 167px; 
	text-align: center;
	padding-right: 10px;
}

.TBLYourFlight td.HeadCOL7 { 
	width: 167px; 
	text-align: left;
	padding-right: 10px;
	background: url("../Images/happyplus.png") no-repeat scroll right bottom #A558BF;
	border-radius: 0 7px 0 0;
}



.TBLYourFlight .HeadCOL6 .demoB .demoText a {
	background: #FFF;
	color: #A75AC1;
	font: bold 12px tahoma;
	text-decoration: none;
}

.TBLYourFlight .HeadCOL7 .demoC .demoText a {
	font: bold 12px tahoma;
	color: #FFF;
	text-decoration: none;
}

.TBLYourFlight .HeadCOL6 .demoB {
	/*float: right;*/

}

.demoB p.demoText {
	float: none;	
}

.TBLYourFlight .HeadCOL7 .demoC {
	/*float: right;*/	
}

tr.FlightInformation0,
tr.FlightInformation1 { 
	background: transparent;
	border-top: solid 1px #e7e7e7;
}

/***************************************/
/********** HAPPY PLUS BANNER **********/
/***************************************/
.HappyPlus {
	background: #a558bf;
	border-radius: 10px;
	float: left;
	width: 100%;	
	padding: 5px 0;
	margin-bottom: 15px;
}

.HappPlusTitle {
	font-size: 16px;
	font-weight: bold;	
	color: #FFF;
	float: left;
	line-height: 57px;
	padding-left: 20px;
	width: 172px;
}

.green {
	color: #C9D646;	
}

.FareUpSell {
	border: 3px solid #a558bf;
	border-radius: 10px;
	margin-bottom: 15px;	
}

.HappyPlusDetail {
	float: left;
	width: 180px;
	margin-top: 5px;
}

.HappyPlusDetail div {
	color: #FFF;	
	display: list-item;
	list-style-type: disc;
	font-size: 12px;
}

.HappyPlusDetail .nolist {
	font-size: 10px;
	list-style-type: none;
	margin-left: 43px;
	margin-top: 5px;
}

html>/**/body .HappyPlusDetail .nolist, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: 3px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 			/*hack Chrome only*/
	.HappyPlusDetail .nolist { 
		margin-top: 5px; 
		} 
}

.HappyPlusDetail .nolist a,
.HappyPlusDetail .nolist a:hover,
.HappyPlusDetail .nolist a:visited,
.HappyPlusDetail .nolist a:active {
	text-decoration: none;
	color: #FFF;
	background: none;	
}

.HappyPlusInside {
	float: left;
	width: 50%;	
}

.InsideTitle {
	font-weight: bold;	
	background: url(../Images/happypluslist.jpg) no-repeat 0 3px;
	padding-left: 15px;
	margin-top: 10px;
}

.InsideDetail {
	color: #DE02B1;
	font-size: 11px;
	padding-left: 16px;	
}

.plustext {
	color:#C9D646;	
}

/* Date Selection */
/******************/
.WrapperTBLSelectNewFlight { 
/*	padding-top:10px; */
	float:left; 
}

.flighttime {
	float: left; 
	margin-right: 1px; 
	padding: 0px 5px 5px 5px; 	
	text-align: center;
	font-weight: bold;
	height: 48px;
}





.dateleft {
	background: url(../Images/dateleft.png) no-repeat;
	width: 5px;
	height: 5px;
	float: left;
}

.datecontent,
.flighttime {
	/*width: 80px;*/
	border-radius: 5px 5px 0 0;
	padding: 10px 5px 0 5px;
}

.datecontent {
	background: #4f4f4f;
	height: 5px;
	float: left;
}

.dateright {
	background: url(../Images/dateright.png) no-repeat;
	width: 5px;
	height: 5px;
	float: left;
}

.dateouterbox {
    margin-left: 0;
    padding: 13px 13px 13px 13px;
}

.dateselectcontent {
	width: 100px;
}

.flighttime { 
	background: #4f4f4f; 
	color: #fff;
	font-size: 12px;
    font-weight: normal;
}

.flighttime .price {
	color: #fff;
	font-size: 9px;
	font-weight: normal;
}

.currency {
	color: #FFF; 
	text-align: center;
}

.flighttimeSelect { 
	background: #fff;
    color: #292929;
    font-size: 17px;
    font-weight: normal;
	float: left; 
	/*width: 125px; */
	margin-right: 1px; 
	padding: 10px 5px; 	
	text-align: center;
	border-radius: 5px;
	/*height: 73px;*/
}

.flighttimeSelect .price,
.flighttimeSelect .currency {
	color: #de02b1;
}

.flighttimeSelect .currency {
	/*line-height: 20px;*/
}




