/*******************/
/* CALENDAR */
/*******************/
.CAL {
	position: absolute;
}

.scrollpopup { 
	width:181px; 
	line-height:20px; 
	padding:1px; 
	background:#ffffff;
	border:1px solid #a6c9e2;
	margin-left: 100px;
}

.close {
	text-align:right;
	display: none;
}

.calendar_DayHeader
{
	font-weight: bold;
	font-size: 11px;
	background: #fff;
	color: #003869;
	border-left: #ffffff 1px solid;
}

.Calendar_notinmonth {
	font-size: 11px;
	color:silver;
	background: #f2f8fd;
	border: solid 1px #e9f1f7;
}

.calendar_DayStyle {
	font-size: 11px;
	background: #e4f1fc;
	color: #FFFFFF;
}

td.calendar_DayStyle {
	
}

.calendar_DayStyle a:link {
	font-size: 11px;
	color: #2e6e9e;
	text-decoration: none;
}

.calendar_dateselect {
	color: #717171;
	background: silver;
	text-decoration: none;
}

.calendar_dateselect A:link {
	color: #717171;
	background: silver;
	text-decoration: none;
	font-size: 11px;
}

.calendar_dateselect A:active {
	color: #717171;
	background: silver;
	text-decoration: none;
	font-size: 11px;
}

/*******************************************************/

iframe {border:none;}
iframe .frmcls {border:0px; background:none}



.CalendarRemark { color:#2A5E97; font-size:10px; margin:1px 0px;}
.Detail td.no_flight { padding:2px; height:15px; width:15px; border: 1px solid #dddddd; }
.Detail td.operate_flight { padding:2px; height:15px; width:15px; }
.Detail td { height:auto; width:auto; padding:0px 5px;}


.close a:link {font-size:12px; font-weight:bold; color:#003869; line-height:14px; text-decoration:none; margin:1px;}

.calendar_body
{
	font-size: 12px;
	width: 180px;
	background: white;
	border:none;	
}
.calendar_body tr,th {border:none;}
.calendar_body td 
{ 	
	border-right: #ffffff 1px solid;
	border-top: #ffffff 1px solid;
	border-left: #ffffff 1px solid;
	border-bottom: #ffffff 1px solid; 
}



.calendar_SelectorStyle
{
	background-color:Green;
	}
.calendar_TitleStyle
{
	border-right: white 1px solid;
	border-top: white 1px solid;
	font-weight: bold;
	font-size: 11px;
	border-left: white 1px solid;
	color: #003869;
	border-bottom: white 1px solid;
	background-color: white;
}
.calendar_TitleStyle a:link{
	color: #00B4F1;
	font-weight: bold;
	text-decoration: none;
}
.calendar_main
{
	width:15px;
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
}

.schedule_not_found
{
	font-weight: bold;
	font-size: 11px;
	color: red;
	table-layout: fixed;
	margin-left:100px;
}
schedule_showbelow
{
	font-size: 12px;
	background-color: #ff9900;
}
.uxCalenderLayer {
  width:163px;	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; BORDER-COLLAPSE: separate; BACKGROUND-COLOR: #ffffff
}
.calendar_currentdate
{
	background-color: #dce3e0;
}
.xx
{
	font-size: 14px;
	font-weight: bolder;
}
.calendar_dateselect_with_flight 
{
            font-weight: bold;
            background-color: #9BC3D4;
}           
no_flight
{
            background-color:#CCCCCC;
}
.operate_flight
{
            background-color:#9BC3D4;
}
.waiting_list
{
            background-color:Green;
}
.complete_flight
{
            background-color:Red;
}
