﻿/**************************/
/* Insurance */
/**************************/
.Insurance {
	/*width: 671px;*/
	margin: 10px 0 0px 0;
}

.travelinsurancetitle {
	color: #7030a0;
	font-weight: bold;
	font-size: 14px;
	float: left;
}

.travelinsurancesubtitle {
	float: left;
	width: 565px;	
}

.InsuranceFeePrice {
	background: #bf62d3;
	border-radius: 7px;	
}

.InsuranceFeePrice {
	color: #FFF;	
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 298px;
	float: left;
	padding: 10px 0;
	height: 80px;
	margin-top: 10px;
	margin-left: 47px;
}

.InsuranceFeePrice span {
	color: #FFF;
	font-size: 18px;	
}

.InsureFeeText {
	font-weight: normal;
	color: #FFF;	
}

.DisplayInsuranceFee {
	line-height: 40px;
	color: #FFF;
	font-size: 18px;
}

#dvInsuranceConfirmDetail {
	margin-top: 10px;	
}


/*ul.agreementcheck {
	margin-left: 5px;
}*/

ul.agreementcheck li,
ul.agreementcheck li label {
	color: blue;	
	font-weight: bold;
}

.travelinsurancebracket {
	color: #7030a0;
	font-weight: bold;
	font-size: 10px;
}

.InsuranceCovers {
	margin-top: 10px;
}

.insurancecoverLeft,
.insurancecoverRight {
	float: left;
    width: 50%;
}

ul.insurancedetail {
	width: 100%;
	float: left;
}

ul.insurancedetail li {
	display: inline;
}

ul.insurancedetail li.insurancename,
ul.insurancedetail li.insurancecost,
ul.insurancedetail li.insurancedetail {
	float: left;
}

ul.insurancedetail li.insurancename {
	width: 67%;
}

ul.insurancedetail li.insurancecost {
	width: 33%;
}

ul.insurancedetail li.insurancedetail {
	width: 40%;
}

.Insurancebox {
	padding-left: 15px;
    padding-right: 15px;
	float: left;
	width: 617px;
}

.alret {
	color: #DE02B1;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
}

.insuranceselectionlist {
	background: #fed8ff;
	float: right;
	padding: 10px 0 10px 10px;
	width: 250px;
	border-radius: 7px;
	height: 80px;
	margin-top: 10px;
}

.insuranceselectionTitle {
	color: #FF0000;
	font-size: 12px;
	font-weight: bold;	
}

ul.insuranceselectionlist {
	background: #fed8ff;
    float: left;
    padding: 10px 0 10px 10px;
    width: 607px;
	margin: 10px 0;
}

ul.insuranceselectionlist li ul li {
	padding-left: 22px;
}

ul.insuranceselectionlist li input,
ul.insuranceselectionlist li label,
ul.insuranceselectionlist li #dvInsCurrency,
ul.insuranceselectionlist li #dvInsAmount {
	margin-right: 5px;
	height: 15px;
	vertical-align: middle;
}

/********** HK INSURANCE **********/
ul.HKinsurance {
	padding-left: 25px;
	width: 592px;
	background: #D9D9D9;
	margin: 10px 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.HKinsurance li {
	list-style-type: disc;	
}

ul.HKinsuranceselectionlist {
	background: #fed8ff;
    float: left;
    padding: 10px 0 10px 10px;
    width: 607px;
	margin: 10px 0;
}

.HKInsuranceFeePrice,
.HKInsuranceFeePrice span {
	color: #FF0000;
	font-size: 12px;
	font-weight: bold;	
}

#dvPurpose label {
	margin-left: 22px;
}

#dvPurpose .ContactDetail {
	padding-top: 0;
}

select#optPurpose {
	width: 110px;
}

.purpose {
	/*margin: 5px 0 10px 0;*/
	padding: 2px 0;
}

.purpose label {
	font-weight: bold;
    margin-left: 0;
	line-height: 27px;
	float: left;
	margin-right: 5px;
}

.Disclosure {
    margin-left: 10px
}

.Disclosure ol li {
/*	list-style-type: decimal;*/
	margin-left: 25px;
}

.Disclosure ul li {
	margin-left: 20px;
}

.Disclosure ol li ul li {
	margin-left: 0px;
}

.conditionsofcontract {
	margin-top: 10px;
}

.contractHead {
    background: url(../Images/condition.png) no-repeat;
	width: 617px;
    height: 21px;
    padding-top: 6px;
	padding-left: 10px;
	text-align: left;
}

/*.conditionsofcontract iframe {
	border: none;
    height: 150px;
    width: 615px;
}*/

/*********************/
/* INSURANCE CONDITIONS */
/*********************/
#ifHeadDocument {
	width: 617px;
	height: 27px;
}

#ifDocument {
    border: 1px solid #B3B3B3;
    width: 615px;
}

#ifLastDocument {
	border: none;	
	margin-top: 10px;
	width: 617px;
	height: 80px;
}

.QuoteInsurance {
	text-align: left;	
}

.insuranceoverview {
	float: left;
}

.insurancepolicy {
	float: right;
    margin-right: 20px;
}

.content-default-travel-insurance {
	padding: 0 10px;
}

.insurancetitle {
	background: black;
	font-weight: bold;
	color: white;
	padding-left: 10px;
}

.insuranceContentInform {
	background: #dfdfdf;
	font-weight: bold;
	color: black;
	padding: 10px 0 10px 10px;
}

.InsuranceConditionContentWrapper {
    text-align: left;
	float: left;
	width: 598px;
}

.ConditionsInsuranceApplication h2,
.ImportantInformation h2,
.ContractOverview h2,
.InformationNote h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
}

ol.insurance_conditions,
ul.insurance_conditions {
	margin-bottom: 10px;
	text-align: justify;
}

ol.insurance_conditions li {
	list-style-type: decimal;
	margin-left: 40px;
}

ol.insurance_conditions li ul li,
li.noliststyle {
	list-style-type: none;
}

ol.insurance_conditions li.square {
	list-style-type: square;
}

ol.insurance_conditions li ol li.Bracket,
li.Bracket {
	list-style-type: none !important;
}

.Endorsements li.Bracket {
	margin-left: 20px;
}

ol li.disc {
	list-style-type: disc !important;
    margin-left: 20px !important;
}

ul.insurance_conditions li {
	margin-left: 20px;
}

ol.insurance_conditions li ol li ul li.noliststyle {
	list-style-type: none;	
	margin-left: 0;
}

ol.insurance_conditions li ol li ul li.noliststyle2 {
	list-style-type: none;	
	margin-left: 40px;
}

.insurancepaymentcase,
.insurancenotpaidcase,
.Endorsements {
	width: 455px;
}

.timing_claims,
.indemnitypayment,
.specialconfirm {
	width: 495px;
}

.bankruptcy {
	width: 535px;
}


.ContractOverview table,
.timing_claims,
.indemnitypayment,
.specialconfirm,
.bankruptcy,
.bankruptcy_international {
	border: solid 1px #B0B0B0;
	font-size: 11px;
	margin: 10px 0;
}

.ContractOverview table td,
.timing_claims td,
.specialconfirm td,
.bankruptcy td {
	border-left: solid 1px #B0B0B0;
}

.ContractOverview table .HeaderCOL1,
.timing_claims .HeaderCOL1 {
	width: 30%;
	text-align: center;
}

.ContractOverview table .HeaderCOL2,
.timing_claims .HeaderCOL2 {
	width: 70%;
	text-align: center;
}

.ContractOverview table .BodyCOL1,
.timing_claims .BodyCOL1,
.bankruptcy .BodyCOL1,
.bankruptcy_international .BodyCOL1 {
	width: 30%;
	border-top: solid 1px #B0B0B0;
	padding: 10px;
	text-align: left;
	line-height: 20px;
}

.ContractOverview table .BodyCOL2,
.timing_claims .BodyCOL2,
.bankruptcy .BodyCOL2 {
	width: 70%;
	border-top: solid 1px #B0B0B0;
	padding: 10px;
	vertical-align: top;
	line-height: 20px;
}

.ContractOverview table .BodyCOL2 div,
.insurancenotpaidcase .BodyCOL1,
.timing_claims .BodyCOL2 {
	line-height: 20px;
}

.ContractOverview table.Endorsements .HeaderCOL1,
.ContractOverview table.Endorsements .BodyCOL1 {
	width: 20%;
}


.ContractOverview table.Endorsements .HeaderCOL2,
.ContractOverview table.Endorsements .BodyCOL2 {
	width: 35%;
}

.ContractOverview table.Endorsements .HeaderCOL3 {
	width: 35%;
	text-align: center;
}

.ContractOverview table.Endorsements .BodyCOL3 {
	width: 35%;
	border-top: solid 1px #B0B0B0;
	padding: 10px;	
}

ul li.squarestylelist {
	list-style-type: square !important;
}

ul li.circlestylelist {
	list-style-type: circle !important;
	line-height: 20px;
	margin-left: 15px;
}

.Endorsements ol li,
.insurancepaymentcase ol li,
.insurancenotpaidcase ol li {
	list-style-type: decimal !important;
	line-height: 20px;
}

ol li.lower-alpha {
	list-style-type: lower-alpha !important;
}

b.underline {
	text-decoration: underline;
}

li ul.firstlist li {
	margin-left: 0;
}

li ul.firstlist li ol li.lower-alpha {
	margin-left: 40px;
}

.indemnitypayment {
	/*width: 100%;*/
}

.indemnitypayment .HeadCOL1,
.specialconfirm .HeadCOL1 {
	text-align: left;
	padding-left: 10px;
}

.specialconfirm .BodyCOL1 {
	width: 89%;
	border-top: solid 1px #B0B0B0;
	padding: 10px;
	vertical-align: top;
	line-height: 20px;
}

.specialconfirm .BodyCOL2 {
	width: 11%;
	border-top: solid 1px #B0B0B0;
	padding: 10px;
	vertical-align: top;
	line-height: 20px;
}

.indemnitypayment .BodyCOL1 {
	border-top: solid 1px #B0B0B0;
	padding: 10px;
	text-align: left;
	line-height: 20px;
}

.bankruptcy td.BodyNoline,
.bankruptcy_international td.BodyNoline {
	border-top: none;
}

.ContentInform {
	border: solid 1px #B0B0B0;
	margin-bottom: 10px;
}

.ContentInformHead {
	border-bottom: solid 1px #B0B0B0;
	padding: 10px;
}

.ContentInformContent {
	padding: 10px;
}

.ContentInformContent ol li {
	list-style-type: decimal;
	margin-left: 40px;
}

.contactinform {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.InsureIcon {
	background: url(../Images/insureicon.jpg) no-repeat;
	width: 40px;
	height: 53px;
	float: left;
	padding-right: 10px;
}

.redborder {
	border-left: 4px solid #ed2525;
	float: left;
	margin-left: -9px;
}

.Disclosure .redborder .fontB {
    margin-left: 5px;
}

.Notification {
	margin-top: 10px;	
}

.NotificationContent {
	border: solid 1px #D9D9D9;
	border-radius: 0 0 7px 7px;	
	padding: 10px;
}

.InsurancePopup {
	width: 700px;
	height: 365px;	
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	text-align: center;
	z-index: 1002;
	background: #FFF;
}

.DisplayInsurance {
	width: 700px;	
}

.ATI_Logo {
	padding-top: 25px;
}

.ATI_Title {
	color: #D900A6;
	font-size: 14px;
	font-weight: bold;	
	padding: 20px 0;
}

.ATI_Image {
	float: left;
	width: 180px;
	height: 150px;
	margin-left: 100px;	
}

.ATI_Content {
	float: right;	
	margin-right: 90px;
	text-align: left;
	width: 315px;
	color: #000;
}

.ATI_Detail {
	margin-bottom: 15px;	
}

.ATI_Button {
	margin: 10px 0 0 310px;
}
