* {
	margin:0;
	padding:0;
}

/* mac hide \*/
html,body {
	height:100%;
	width:100%;
}
/* end hide */

body {
	text-align: center; 
	font: normal 11px tahoma;
	color: #605e5e;
	padding: 0;
	margin: 0;
	cursor: default;
	min-height:468px;/* for ie7*/
}

img {
	padding: 0;
	margin: 0;
	border: none;
}

a, a:visited, a:active {
	color: #605e5e;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

ul li {
	list-style-type: none;
}

select, input {
	font: normal 11px tahoma;
	padding: 0;
	margin: 0;
}

select {
	height: 19px;
}

@media screen and (-webkit-min-device-pixel-ratio:0){ /*hack safari only*/
	select { 	
		line-height: 15px;
	}
} 

html>/**/body select, x:-moz-any-link, x:default { 		/* CSS hack for FF only */
	padding-top: 1px;
}

input {
	height: 17px;
	height: 15px\9; /* CSS hack for IE9 only */
}

html>/**/body input, x:-moz-any-link, x:default { 		/* CSS hack for FF only */
	height: 17px !important;
}

body:nth-of-type(1) input { 					 	/* CSS hack for Chrome Only */
	height: 15px;
}

input, select {
	vertical-align: middle;
}

label {
	height: 19px;	
}

.clear-all {
	clear: both;
}

.Button {
	float: left;
}

.Button a {
	float: left;
	text-decoration: none;
}

.ButtonTable {
	float: right;
	margin-right: 5px;
}

.ButtonTable a {
	float: right;
	text-decoration: none;
}

.no-col-three-button {
	width: 645px;
	margin-top: 15px;
}

.absolute {
	margin: -3px 0 0 15px;
}

.Wrapper {
	margin: 0 auto; 
	text-align: left;
	width: 980px;
}

.Header {
	background: url(../Images/headerbg.jpg) repeat-x;
	height: 94px;
	border-bottom: solid 1px #a8a8a8;
}

.mainlogo {
	padding-top: 20px;
	margin-left: 35px;
	float: left;
}

.fontB {
	font-weight: bold;
}

.Topic {
	font: bold 12px tahoma;
	color: #605e5e;
}

.RedFont {
	color: #cc3333;
}

.RedFontB {
	font: bold 11px tahoma;
	color: #cc3333;
}

.RedTopic {
	font: bold 12px tahoma;
	color: #cc3333;
}

/*******************/
/* HEADER MENU */
/*******************/
.HeaderMenu {
	font-size: 12px;
	float: right;
	margin-top: 70px;
	line-height: 14px;
}

.HeaderMenu .menu ul#nav {
	padding: 0;
	margin: 0;
}

.HeaderMenu ul li {
	display: inline;
	border-left: solid 1px #605e5e;
	padding: 0 10px;
}

.HeaderMenu ul li.first {
	border-left: none;
}

/*******************/
/* TOP MENU */
/*******************/
.TopMenu {
	font-size: 12px;
	border-bottom: solid 1px #a8a8a8;
}

.TopMenu ul {
	padding: 0;
	margin: 10px 0 10px 17px;
}

.TopMenu ul li {
	display: inline;
	margin-right: 45px;
}

/*******************/
/* CONTENT DEFAULT */
/*******************/
.content-default {
	margin-top: 25px;
}

/*******************/
/* BOX HEADER */
/*******************/
.boxheader {
	background: url(../Images/boxheader.jpg) repeat-x;
	font-weight: bold;
	font-size: 12px;
	height: 29px;
	padding: 0px 0 0 15px;
	line-height: 29px;
}

/*******************/
/* BUTTON */
/*******************/
a.defaultbutton {
    /* Sliding right image */
    background: transparent url(../Images/button_right.png) no-repeat scroll top right; 
	display: block;
	float: left;
	height: 22px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	padding-right: 10px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	font-weight: bold;
}

a.defaultbutton span {
	/* Background left image */ 
	background: transparent url(../Images/button_left.png) no-repeat; 
	display: block;
	line-height: 17px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 2px 0 3px 10px;
	color: #CC3333;
}

a.defaultbutton:hover span{
	text-decoration: none;
}

.BTN-Left { 
	background:url(../Images/cornerleft.gif) no-repeat; 
	height:22px; 
	width:7px; 
	float:left;
}

.BTN-Middle { 
	background:url(../Images/cornermid.gif) repeat-x; 
	line-height:20px; 
	float:left; 
	color:#cc3333; 
	height:22px;
	padding: 0 5px;
	font-weight: bold;
	cursor: pointer;
}

.BTN-Right { 
	background:url(../Images/cornerright.gif) no-repeat; 
	height:22px; 
	width:7px; 
	float:left;
}

/*******************/
/* FOOTER */
/*******************/
.Footer {
	background: url(../Images/footerbg.jpg) repeat-x;
	height: 67px;
	margin-top: 10px;
	border-top: solid 1px #a8a8a8;
}

.copyright {
	float: left;
	margin: 28px 0 0 28px;
}

.SystemBy {
	float: right;
	margin: 23px 17px 0 0;
}

.systemtext {
	float: left;
	padding: 5px 12px 0 0;
}

.Mercator {
	float: left;
}

/************************************/
/* DISABLE WINDOW (FOR AJAX LOADER) */
/************************************/
.DisableWindow { 
	left: 0; 
	top: 0; 
	position: fixed; 
	background: #E2E2E3; 
	z-index: 1001; 
	-moz-opacity: 0.7; 
	opacity: .70; 
	filter: alpha(opacity=70);
	width: 100%;
	height: 100%;
	display: none;
}

/****************/
/* PROGRESS BAR */
/****************/
.ProgressBox,
.ErrorBox,
.ProgressBarBox { 
	display: none;
	left: 0;
}

.LoadingBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B5B4B0;
    width: 490px;
}

.LoadingBoxHeader,
.ErrorBoxHeader {
	margin: 20px 175px;
	background: url(../Images/mainlogo.png) no-repeat;
	width: 145px;
	height: 63px;
}

.LoadingBoxMid {
	margin-bottom: 20px;
}

.LoadingStep {
	margin: 20px 0;
	text-align: center;
	display: none;
}

.bookinginform {
	margin-bottom: 15px;
}


/******************************/
/* PROGRESS BAR ADVERTISEMENT */
/******************************/
.advertisement {
	border-top: 1px solid #B5B4B0
}

.advertisement img {
	float: left;
	margin: 20px 20px 20px 50px;
}

.advertisementDetail {
	margin-top: 20px;
	text-align: left;
}

/*************/
/* ERROR BOX */
/*************/
.ErrorBoxMid { 
	margin:10px 0 10px 150px;
	float: left;
}

.ErrorBoxBot { 
	padding:10px 10px 20px 10px; 
	text-align:center; 
	font-weight:bold; 
	color:#b70007;
	float: left;
}

.ErrorDisableWindow { 
   display:none; 
   position:fixed; 
   top:0%; 
   left:0%; 
   width:100%; 
   height:100%; 
   background:#ffffff; 
   z-index:1001; 
   -moz-opacity:0.8; 
   opacity:.80; 
   filter:alpha(opacity=80); 
}

/***************/
/* AJAX BUTTON */
/***************/
.AjaxButton {
	margin: 20px 0 0 210px;
	padding: 0 0 20px 0;
	cursor: pointer;
}

.boxborder {
	border: solid 1px #b5b4b0;
	margin-bottom: 15px;
}

.boxborder-nolinebottom {
	border-top: solid 1px #b5b4b0;
	border-left: solid 1px #b5b4b0;
	border-right: solid 1px #b5b4b0;
}

/******************/
/* Your Selection */
/******************/
.YourSelection {
	width: 310px;
	text-align: left;
	border: solid 1px #b5b4b0;
	margin: 20px 0 15px 0;
	float: right;
}

.YourFlightSelected {
	padding-left: 15px;
	border-bottom: solid 1px #b5b4b0;
	width: 295px;
}

#dvAdditionalFee {
	display: none;
}

.OutboundFlight {
	margin: 10px 0 10px 0px;
	padding-right: 10px;
}

.InboundFlight {
	margin: 10px 0 10px 0px;
	padding-right: 10px;
}

.FlightType {

}

.YourFlight {
	width: 295px;
}

.YourFlight ul {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	margin-left: 20px;
}

.YourFlight ul li {
	display: inline;
	margin-right: 15px;
}

.FareRule {
	margin: 10px 0 0 0px;
}

.Currency {
	margin: 10px 0px 0 0;
	text-align: right;
	padding: 0;
	width: 280px;
}

.PassengerSummary {
	width: 280px;
	margin: 0 15px 0 0;
}

.PassengerSummary div {
	float: left;
}

.amount {
	width: 25%;
}

.yourselecttype {
	width: 25%;
}

.person_price {
	width: 25%;
}

.amount_price {
	width: 25%;
	text-align: right;
}

.Taxes_Fees {
	float: left;
	width: 140px;
}

.charges {
	width: 280px;
}

.charges ul {
	margin: 0;
	padding: 0;
}

.charges ul li {
	float: left;
	width: 280px;
}

.charges ul li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.charges ul li ul {
	padding: 0;
	margin: 0;
}

.charges ul li ul li {
	width: 230px;
	margin-left: 20px;
	float: left;
}

.charges ul li ul li .charges_price {
	float: right;
	margin-right: 15px;
}

.charges ul li ul li .charges_name {
	float: left;
}

.collapse {
	margin-top: 2px;
	float: left;
}	

.passengercollapse {
	float: right;
	margin: 2px 10px 0 0;
}

.charges_price_total {
	text-align: right;

}

.totalfare {
	width: 280px;
	padding-bottom: 10px;
}

.totalflight {
	float: left;
}

.fare_price {
	text-align: right;
	margin-right: 15px;
}

.summary {
	background: #e2e2e3;
	font: bold 12px tahoma;
	width: 310px;
	padding: 10px 0;
}

.summary_total {
	margin-left: 15px;
	float: left;
}

.summary_price {
	text-align: right;
	margin-right: 15px;
}

.ArrowIcon {
	float: left;
	margin-right: 5px;
}

.nopadding-margin {
	padding: 0;
	margin: 0;
	border-bottom: none;
}

.voucheroptional {
	border: solid 1px #b5b4b0;
	background: #E2E2E3;
}

/* Button */
/**********/
.ButtonAlignLeft { 
	float:left;
}

.ButtonAlignRight { 
	float:right;
}

table {
	border-collapse: collapse; 
}

.TableHead {
	background: #b5b4b0;
	color: #fff;
	font-weight: bold;
}

/*************************************/
/* Center Page Horizontal & Vertical */
/*************************************/

.xouter{
	height: 100%;
	width: 100%;
	display: table;
	vertical-align: middle;
	position: fixed;
	z-index: 1002;
	left: 0;
}

.xcontainer {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}	

.xinner {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}


/***********/
/* Watermark */
/***********/

.watermarkOn {
	color: #CCCCCC;
	font-style: italic;
	font-size: 11px;

}

.watermarkOff {
	color: #605e5e;
	font-size: 11px;
	font-weight: normal;
}

/********************/
/* Dynamic Button */
/********************/
div.button {
   /* background-color: #FFFFFF;
    border-bottom: 1px solid #E7E7E7;
    clear: left;
    float: left;
    list-style: none outside none;
    margin: 10px 0;
    padding: 5px;*/
}
div.button div {
    float: left;
}
div.button div a {
    color: #CCCCCC;
    float: left;
    font-weight: bold;
    padding: 4px 15px 0 0;
    text-decoration: none;
}
div.button div a span {
    display: block;
    float: left;
    height: 24px;
    margin-top: -4px;
    padding-right: 15px;
}
div.button div a:hover {
    background: url(../Images/button.png) no-repeat scroll right top transparent;
    color: #576D07;
}
div.button div a:hover span {
    background: url(../Images/button.png) no-repeat scroll left top transparent;
}
div.button div a.current {
    background: url(../Images/button.png) no-repeat scroll right top transparent;
    color: #CC3333;
}
div.button div a.current span {
    background: url(../Images/button.png) no-repeat scroll left top transparent;
}