﻿.MultipleTab {
	border-radius: 15px;
	margin: 0 auto;
	padding: 40px 25px 60px 25px;
	width: 640px;
	background: url(../Images/ilust.jpg) no-repeat right 90px #FFDEFF;
	text-align: left;
}

.MultipleTab .Logo {
	float: right;	
}

.MultiTabTitle {
	font-size: 20px;
	font-weight: bold;
	color: #5b6768;	
}

.MultipletabContent {
	color: #000000;
	font-family: Tahoma,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	width: 400px;	
}