﻿.PassengerInformation {
	background: #FFF;
	border-radius: 5px;
	float: left;
	margin-top: 20px;
	padding: 10px;
	width: 198px;
}

.PassengerNo,
.PassengerTitle,
.PassengerLastname,
.PassengerFirstname,
.PassengerType {
	float: left;
}

.PassengerNo {
	width: 10%;
}

.PassengerTitle {
	width: 10%;
}

.PassengerLastname {
	width: 53%;
}

.PassengerFirstname {
	margin-left: 39px;
	width: 57%;
}

.PassengerType {
	width: 23%;
}

.PassengerTotal {
	text-align: right;
	margin-top: 15px;	
}

