﻿.NoSeatButton {
	float: right;
	margin-right: 2px;
}

.NoSeatButton a {
	text-decoration: none;
	color: #535353;	
}

.NoSeatButton img {
	vertical-align: middle;
	padding-right: 7px;
}

.graybutton {
	background: #DCDADB;
	-webkit-box-shadow: 2px 2px 2px 0 #B2B2B2;
	box-shadow: 2px 2px 2px 0 #B2B2B2;
	border-radius: 5px;
	padding: 5px 10px;
}

.PaxNumber {
	color: #FFF;
	line-height: 36px;
	padding: 0 5px;
	vertical-align: middle;	
}

.BaggageTooltip {
	position: relative;	
}

.BaggageTooltip .fg-tooltip { left: -65px;  width: 160px; margin-top: -120px;}

html>/**/body .BaggageTooltip .fg-tooltip, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: -140px;
}

:root .BaggageTooltip .fg-tooltip {margin-top: -80px; height: 45px;}

.BaggageTooltip a.tooltip {
	color: #535353;	
}

.SportBagInfo {
	color: #FFFFFF;
	font-size: 12px;
	margin: 10px 0 0 15px;
}

.SportBagInfo a {
	color: #FFF;
	text-decoration: underline !important;	
}