.popupcontent_panel {
	text-align: left;
	width: 100%;
}

.popupcontent {
	margin: 35px 15px 0 15px;
	text-align: justify;
}

.popupcontent p {
	margin: 15px;
}

.popupcontent ul,
.popupcontent ol {
	margin: 15px;
	padding: 0;
}

.popupcontent ul li {
	list-style-type: disc;
}

.popupcontent ul li,
.popupcontent ol li {
	margin: 15px;
}

.popupcontent ol.OrderList {
	padding: 0 0 0 15px;
}

