/**************************/
/* SEARCH BOX ON HOMEPAGE */
/**************************/
.SearchBox { 
	width: 300px;
	display: block;
}

.FlightSelectionBox { 
	float: left; 
	width: 300px; 
	border: 1px solid #b5b4b0; 
}

.FlightSelectionBox ul { 
	width:100%; 
	margin:0px; 
	padding:0px; 
	list-style:none;
}

.FlightSelectionBox li { 
	margin:0px; 
	padding:0px;
}

input#optReturn,
input#optOneWay {
	float: left;
	padding: 0;
	margin: 0;
	width: 12px;
}

.FlightSelectionBox ul li.type label {
	margin: 5px;
}

/**********************************/
/* FLIGHT TYPE (RETURN OR ONEWAY) */
/**********************************/
.FlightSelectionBox li.type { 
	width:45%; 
	float:left; 
	padding:10px 0 0 15px;
	line-height: 17px;
	border: none;
}

/********************************/
/* SELECTION FLIGHT AND DETAILS */
/********************************/

.FlightSelectionBox li.FromTo { 
	float:left; 
	padding:5px 0 0 15px;
}

.FlightSelectionBox li.FromTo label,
.FlightSelectionBox li.passenger label,
.FlightSelectionBox li.PromoCode label {
	float: left;
	width: 85px;
	line-height: 17px;
}

.FlightSelectionBox select { 
	width: 185px;
}

.FlightSelectionBox select option {
	padding-left: 3px;
}

.FlightSelectionBox li.PromoCode input {
	width: 183px;
	width: 181px\9;
}

body:nth-of-type(1) .FlightSelectionBox li.PromoCode input { /*CSS hack for chrome only */
	width: 181px;
}

html>/**/body .FlightSelectionBox li.PromoCode input, x:-moz-any-link, x:default { /* CSS hack for FF only */
	width: 183px !important;
}

.FlightSelectionBox li.TabDate { 
	padding-top: 5px;
}

.FlightSelectionBox li.passenger,
.FlightSelectionBox li.PromoCode { 
	float:left; 
	padding: 5px 0 0 15px;
	width: 100%;
}

.FlightSelectionBox select.pax { 
	width:40px; 
	float:left;
	margin-right: 2px;
}

.FlightSelectionBox li.TabDate img { 
	cursor:pointer; 
	vertical-align:top;
}

.passengerage {
		padding-top: 2px;
	}

/***********************************/
/* LOW FARE AND BOOKING NOW BUTTON */
/***********************************/
.BTN-Search { 
	padding: 10px 0; 
	width: 100%;
	float: left;
} 

.lowfare {
	float: left;
	margin-left: 15px;
}

.booknow {
	float: right;
	margin-right: 15px;
}

.lowfare a, 
.booknow a, 
.BTN-Search a,
.LoadingBoxMid a,
.LoadingBoxMid a:hover,
.LastLine a,
.LastLine a:hover, 
.ButtonAlignLeft a {
	cursor: pointer;
	float: left;
}

/*****************/
/* CONTENT (CMS) */
/*****************/
.WrapperPanelRight { 
	width:672px; 
	float:right; 
	padding:0px;
}

.col-two {
	float: left;
	width: 477px;
}

.col-three {
	float: right;
}

.banner {
	margin-bottom: 5px;
}

.subbanner {
	width: 158px;
	float: left;
	border-left: solid 1px #b5b4b0;
	margin-top: 5px;
}

.content {
	width: 155px;
	margin-left: 2px;
}

.texthead {
	font-weight: bold;
	margin: 10px 0 0 5px;
	
}

.textdetail {
	margin-left: 5px;
}

/************************/
/* STEP 2 SEARCH RESULT */
/************************/
/* 1. Step Bar */
/***************/
.StepContent { 
	border-top: dashed 1px #B5B4B0;
	border-bottom: dashed 1px #B5B4B0;
	font: bold 14px tahoma;
}

.StepContent ul {
	margin: 10px 0; 
	padding: 0;
}

.StepContent ul li {
	display: inline;
}

.StepContent ul li.StepNumber, 
.StepContent ul li.StepNumberActive  {
	padding: 3px 7px; 
	color: #fff;
	margin-right: 5px;
}

.StepNumber {
	background: #b5b4b0;
}

.StepNumberActive {
	background: #cc3333;
}

.StepName {
	margin-right: 85px;
}

/* 2. Fare Table */
/*****************/
.CoverDetailPopup {
	width: 645px;
	float: left;
}

.AvailabilitySearch {
	width: 645px;
}

.WrapperFlightDate { 
	/*padding-top:7px; */
	border-bottom:solid 1px #FFFFFF; 
	cursor:pointer;
}

.WrapperTBLYourFlight { 
	margin: 20px 0;
}
 
.TBLYourFlight { 
	border: solid 1px #b5b4b0;
}

.TBLYourFlight tr.TableHead td { 
 	height: 35px;
	border-left: solid 1px #fff;
}

.TBLYourFlight td { 
	height: 25px; 
	padding: 0px 5px;
}
	
.TBLYourFlight td.HeadCOL1 { 
	width: 10%;
	border-left: solid 1px #b5b4b0 !important;
}

.TBLYourFlight td.HeadCOL2 { 
	width: 5%;
	text-align: center;
}

.TBLYourFlight td.HeadCOL3 { 
	width: 10%; 
	text-align:center;
}
	
.TBLYourFlight td.HeadCOL4 { 
	width: 9%; 
	text-align: center;
}
	
.TBLYourFlight td.HeadCOL5 { 
	width: 9%; 
	text-align: center;
}
	
.TBLYourFlight td.HeadCOL6 { 
	width: 10%; 
	text-align: right;
}

.TBLYourFlight td.HeadCOL7 { 
	width: 10%; 
	text-align: right;
}

.TBLYourFlight td.HeadCOL8 { 
	width: 10%; 
	text-align: right;
}

.TBLYourFlight td.HeadCOL9 { 
	width: 12%; 
	text-align: right;
}

.TBLYourFlight td.HeadCOL10 { 
	width: 15%; 
	text-align: right;
}

.TBLYourFlight td input { 
	width:12px;
	margin-top: 2px;
}

html>/**/body .TBLYourFlight td input, x:-moz-any-link, x:default { /* CSS hack for FF only */
	margin-top: 0px;
}

.TBLYourFlight tr.SelectCol { background:#99cc66;}

tr.FlightInformation1 { 
	background: #fff;
	border-bottom: solid 1px #B5B4B0;
}

tr.FlightInformation0 { 
	background: #e2e2e3;
	border-bottom: solid 1px #B5B4B0;
}

.TBLYourFlight tr.FlightInformation0 td,
.TBLYourFlight tr.FlightInformation1 td {
	border-left: solid 1px #b5b4b0;
	border-bottom: solid 1px #b5b4b0;
	line-height: 19px;
}

.flightcode {
	float: left;
	margin-right: 5px;
}

/* Set border bottom for Compatibility view for IE */
.TBLYourFlight td.BodyCOL3, 
.TBLYourFlight td.BodyCOL4,
.TBLYourFlight td.BodyCOL5 { 
	text-align:center;
}

.TBLYourFlight td.BodyCOL6,
.TBLYourFlight td.BodyCOL7,
.TBLYourFlight td.BodyCOL8,
.TBLYourFlight td.BodyCOL9 { 
	text-align:right;
}

.TBLYourFlight td.BodyCOL1 input,
.TBLYourFlight td.BodyCOL2 input,
.TBLYourFlight td.BodyCOL3 input,
.TBLYourFlight td.BodyCOL4 input,
.TBLYourFlight td.BodyCOL5 input,
.TBLYourFlight td.BodyCOL6 input,
.TBLYourFlight td.BodyCOL7 input,
.TBLYourFlight td.BodyCOL8 input,
.TBLYourFlight td.BodyCOL9 input,
.TBLYourFlight td.BodyCOL10 input {
	float: left;
}

.TBLYourFlight td.BodyCOL1 label,
.TBLYourFlight td.BodyCOL2 label,
.TBLYourFlight td.BodyCOL3 label,
.TBLYourFlight td.BodyCOL4 label,
.TBLYourFlight td.BodyCOL5 label,
.TBLYourFlight td.BodyCOL6 label,
.TBLYourFlight td.BodyCOL7 label,
.TBLYourFlight td.BodyCOL8 label,
.TBLYourFlight td.BodyCOL9 label,
.TBLYourFlight td.BodyCOL10 label {
	float: right;
}

.notshowflight {
	text-align: right;
	padding-right: 5px;
	border-left: solid 1px #b5b4b0;
}

.showflightprice {
	line-height: 19px;
}

.showflightprice input {
	float: left;
}

.showflightprice label {
	float: right;
}

.SearchFlightSelection {
	background: #CC3333;
}

.SearchFlightSelection input {
	float: left;
}

.SearchFlightSelection label {
	float: right;
	color: #fff;
}

.noflight { 
	color: #CC3333; 
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
}

/************/
/* LOW FARE */
/************/
.LowFareBox {
	border: solid 1px #b5b4b0;
}

.SearchFare {
	width: 310px; 
	background: #fff; 
	color: #333333; 
	border: #7f9db9 1px solid; 
	margin: 17px 0 20px 0; 
	float: right;
}

.ShowLowfaredate {
	float: left;
	width: 100%;
	padding: 5px 0;
	text-align: center;
}

.ShowLowfaredate input {
	margin-left: 5px;
	float: left;
	width: 12px;
}

.ShowLowfaredate label {
	float: right;
	text-align: center;
	width: 100%;
}


/* Date Selection */
/******************/
.WrapperTBLSelectNewFlight { 
/*	padding-top:10px; */
	float:left; 
}

.flighttime,
.flighttimeSelect {
	float: left; 
	width: 65px; 
	/*height: 40px; */
	margin-right: 1px; 
	padding: 10px 5px; 	
	text-align: center;
	font-weight: bold;
}

.flighttime { 
	background: #E2E2E3; 

}

.flighttimeSelect { 
	background: #cc3333; 
	color: #FFFFFF; 
}

/* Low Fare */
/************/
.FareCalender {
	width: 645px;
	float: left;
}

.CalenderBase { 
	padding-bottom: 5px;
}

.FareCalenderTable { 
	width:100%; 
	border-collapse: collapse;
}

.FareCalenderTable td.Lowfaredate { 
	width: 79px; 
	color: #ffffff; 
	text-align: center; 
	padding: 5px 0;
	background: #b5b4b0;
}

.FareCalenderTable td .Lowfareprice { 
	float: left; 
	background: #b5b4b0; 
	width: 100%; 
	color: #ffffff; 
	text-align: center; 
	padding: 5px 0;
}

.ShowTime  {
	position: absolute;
	margin-top: 52px;
}


.FareCalenderTable td .Lowfarepriceselect { 
	float: left; 
	background: #cc3333; 
	width: 100%; 
	color: #ffffff; 
	text-align: center; 
	padding: 5px 0;
	
}

.FareCalenderTable td ul.Lowfarepriceselect  {
	/*margin: 52px 0 0;*/
    padding: 5px 0 5px 5px;
    /*position: absolute;*/
    width: 100%;
	cursor: pointer;
	text-align: left;
	/*float: left;*/
	margin: 0;
}

.FareCalenderTable td { 
	background:#e2e2e3; 
	border:1px solid #ffffff;
}

.FareCalenderTable td.Select {
	background: #e35454;

}

.FareCalenderTable td.Select .ShowLowfaredate label {
	background: #e35454;
	color: #fff;
}

.FareCalenderTable td .DateCss { 
	float: left; 
	padding: 7px 0 5px 15px; 
	color: #033766;
}

.FareCalenderTable td.Select .DateCss { 
	float: left; 
	padding: 7px 0 5px 15px; 
	color: #fff;
}

/* Availability Search */
/***********************/
.Availability {
	float: left;
}

/************************/
/* STEP 3 Your Details */
/************************/
.ContactDetail {
	margin-top: 5px;
}

.ContactDetail label {
	width: 200px;
	float: left;
	line-height: 17px;	
	margin-left: 15px;
}

.InformationInput {
	/*float: left;*/
}

.InformationInput select {
	float: left;
	width: 206px;
}

.InformationInput input {
	width: 202px\9;
	float: left;
}

html>/**/body .InformationInput input, x:-moz-any-link, x:default { /* CSS hack for FF only */
	width: 204px !important;
}

body:nth-of-type(1) .InformationInput input { /*CSS hack for chrome only */
	width: 202px;
}

.InformationInput input.clientno {
	float: left;
}

.mandatory { 
	padding: 3px 0 0 10px; 
	color: #605e5e;
	float: left;
}

/* Main Contact Details */
/************************/
.PassengerMainContact { 
	border: solid 1px #B5B4B0;
	margin: 20px 0px 15px 0px;
	width: 645px; 
	float: left;
}

.MainContactDetails { 
	padding-bottom: 15px;
}

.FirstLine {
	padding-top: 10px;
}

.LastLine {
	margin-bottom: 10px;
}

/* Remember Checkbox */
/*********************/
.optional {
	background: #E2E2E3;
	border-top: solid 1px #B5B4B0;
}

.optional input,
.voucheroptional input { 
	width: 13px;
	height: 13px;
	margin-right: 5px;
}

.Remember { 
	margin: 0 0 0 15px;
	padding-bottom: 10px;
}

.Remember li { 
	float: left; 
	color: #333333; 
	padding-right: 10px;
}

.Remember a {
	text-decoration: underline;
	vertical-align: middle;
}

.Remember label {
	vertical-align: middle;
}

/* Passenger Details */
/*********************/
/*.TabDesc { 
	color:#2462b5; 
	float:left; 
	font-weight:bold; 
	padding-left:15px; 
	font-size:12px; 
	margin:10px 0px 5px 0px;
}*/

#PaxdetailInput {
	width: 645px;
}

.inside_information {
	float: left;
	width: 473px;
}

ul .inside_information li {
	float: left;
	width: 100%;
}

.passengertype {
	float: left;
	margin-right: 5px;
}

.PassengerDetails {
	border: solid 1px #B5B4B0;
	padding: 10px 0;
	margin: 15px;
}

.PassengerDetails ul {
	padding: 0; 
	margin: 0;
}

.iconspan{
	float: right;
	margin: 1px 5px 0 0;
	cursor: pointer;
}

#PassengerName_1, #PassengerName_2, #PassengerName_3, #PassengerName_4, #PassengerName_5,
#PassengerName_6, #PassengerName_7, #PassengerName_8, #PassengerName_9, #PassengerName_10,
#PassengerName_11,#PassengerName_12,#PassengerName_13,#PassengerName_14,#PassengerName_15,
.passenger_sequence {
	float: left;
	margin-left: 15px;
}

.PassengerInput {
	float: left;
}

.ClientNumber {
	width: 100%;
}

#ctl00_dvPassengerInput {
    margin: 10px;
}

ul.PaxAdult li,
ul.PaxAdult li.active,
ul.PaxChildren li,
ul.PaxChildren li.active,
ul.PaxInfant li,
ul.PaxInfant li.active {
	width: 36px;
	height: 36px;
	padding-bottom: 1px;
	float: left;
}

ul.PaxAdult li {
	background: url(../Images/adultdisable.png) no-repeat;
}

ul.PaxAdult li.active {
	background: url(../Images/adultactive.png) no-repeat;
}

ul.PaxChildren li {
	background: url(../Images/childdisable.png) no-repeat;
}

ul.PaxChildren li.active {
	background: url(../Images/childactive.png) no-repeat;
}

ul.PaxInfant li {
	background: url(../Images/infantdisable.png) no-repeat;
}

ul.PaxInfant li.active {
	background: url(../Images/infantactive.png) no-repeat;
}

.PaxNameOuter {
	background: #CC3333;
	float: left;
   /* margin-left: 36px;*/
 /*  width: 587px;*/
	/*padding-bottom: 3px;*/
}

.PaxNameInner {
	margin: 0 10px;
}

.PaxInnerLeft {
	background: url(../Images/paxnameleft.png) no-repeat;
	width: 10px;
	height: 36px;
	float: left;	
}

.PaxInnerContent {
	background: #fff;
	width: 567px;
	height: 36px;
	float: left;	
	margin: 10px;
}

.PaxInnerRight {
	background: url(../Images/paxnameright.png) no-repeat;
	width: 10px;
	height: 36px;
	float: left;	
}

.PaxName {
	font-size: 16px;
	line-height: 35px;
	padding-left: 10px;
}

.PaxAdult {

}

#dvPaxType {
	display: none;
}

.header1 {
	font-size: 16px;
	display: none;
}

.PaxAll {
	float: left;
}

.PaxAll a {
	text-decoration: none;
}

.ClientNumberDetail .ContactDetail {
	width: 430px;
	float: left;
}

.PaxDetail1 {
	/*background: #FFF;*/
   /* margin-left: 36px;*/
   /* margin-top: -40px;*/
   float: left;
   width: 567px;
   margin-left: 10px;
 /*  margin-top: 39px;*/
}

.Passengerdetailinput {
	background: #FFF;
	padding: 10px 0;
	margin-bottom: 10px;
}

.getclient {
    float: left;
    margin-top: 3px;
}

.Paxicon {
    float: left;
    width: 36px;
	position: absolute;
	margin-right: 36px;
	cursor: pointer;
}

.PaxInputDetail {
    float: right;
   /* width: 587px;*/
	margin-left: 36px;
	background: #CC3333;
}

.PaxBG {
    background: #B263C8;
    margin-left: 36px;
	float: left;
}

.passport {
	padding: 10px 0;
	margin: 10px 0;
	background: #FFF;
}

.passportinformation {
	/*border-top: solid 1px #DDDDDD;*/
}

.passportinformation .ContactDetail label {
    width: 105px;
}

.passportinformation .ContactDetail input#txtDocumentNumber {
	width: 147px;
}

.passportinformation .ContactDetail {
	float: left;
	width: 285px;
}

.passportinformation .passportexpiryfield {
	width: 195px;
}

.passportinformation .passportexpiryfield label,
.passportinformation .issuecountryfield label {
	margin-left: 0;
}

.passportinformation .issuecountryfield {
	width: 105px;
}

.passportinformation .passportcommentfield {
	width: 585px;
}

input#passportcomment {
	width: 450px;
}

Select.PassportExpiryDate {
	width: 60px;
	margin-right: 5px;
}

input.issuecountry {
	width: 91px;
}

/* Special Services */
/********************/
.SpecialServiceLabel {
	font: bold 12px tahoma;
	margin-left: 15px;
	float: left;
	width: 200px;
}

ul li .SpecialService {
	padding-top: 5px;
	float: left;
}

.TBLSpecialService {
	/*position: fixed; 
	margin: 325px 0 0 -325px;
	left: 50%; 
	z-index: 1002;*/
	width: 650px;
	border: solid 1px #b5b4b0;
	background: #fff;
	text-align: left !important;
}

.TBLSpecialService table {
	border-collapse: collapse;
	margin: 15px 0 0px 15px;
}

.Empty {
	width: 13px;
	background: #fff;
}

.TBLSpecialService td.HeadCOL1,
.TBLSpecialService td.HeadCOL2,
.TBLSpecialService td.HeadCOL3 {
	margin-right: 10px;
	border-left: solid 1px #B5B4B0;
    border-right: solid 1px #B5B4B0;
	width: 185px;
}

.TBLSpecialService td.BodyCOL1,
.TBLSpecialService td.BodyCOL2 {
	border-left: solid 1px #b5b4b0;
	border-right: solid 1px #b5b4b0;
}

.SpecialServiceLine {
	border-bottom: solid 1px #b5b4b0;
	border-left: solid 1px #b5b4b0;
	border-right: solid 1px #b5b4b0;
}

.TBLSpecialService td.HeadCOL1,
.TBLSpecialService td.HeadCOL2,
.TBLSpecialService td.BodyCOL1,
.TBLSpecialService td.BodyCOL2 {
	height: 25px;
	padding: 0 5px;
}

.Close {
	float: right;
    margin: 5px;
	cursor: pointer;
}

/* Your Itinerary on Your Details Page */
/***************************************/
.PassengerDetails_Itinerary { 
	width: 100%; 
	border-collapse: collapse;
}

.PassengerDetails_Itinerary td { 
	border-bottom: 1px solid #B5B4B0; 
	height: 25px; 
}

.PassengerDetails_Itinerary td.HeadCOL1,
.PassengerDetails_Itinerary td.BodyCOL1 { 
	width: 9%;
	padding-left: 15px;
}

.PassengerDetails_Itinerary td.HeadCOL2 { 
	width: 15%;
}         
          
.PassengerDetails_Itinerary td.HeadCOL3 { 
	width: 15%;
}               
    
.PassengerDetails_Itinerary td.HeadCOL4,
.PassengerDetails_Itinerary td.BodyCOL4 { 
	width: 9%;
	text-align: center;
} 

.PassengerDetails_Itinerary td.HeadCOL5,
.PassengerDetails_Itinerary td.BodyCOL5 { 
	width: 6%;
	text-align: center;
} 

.PassengerDetails_Itinerary td.HeadCOL6,
.PassengerDetails_Itinerary td.BodyCOL6 { 
	width: 6%;
	text-align: center;
} 

.PassengerDetails_Itinerary td.HeadCOL7,
.PassengerDetails_Itinerary td.BodyCOL7 { 
	width: 5%;
	text-align: center;
}

.PassengerDetails_Itinerary td.HeadCOL8 { 
	width: 35%;
}

.PassengerDetails_Itinerary td.BodyCOL1,
.PassengerDetails_Itinerary td.BodyCOL2,
.PassengerDetails_Itinerary td.BodyCOL3,
.PassengerDetails_Itinerary td.BodyCOL4,
.PassengerDetails_Itinerary td.BodyCOL5,
.PassengerDetails_Itinerary td.BodyCOL6,
.PassengerDetails_Itinerary td.BodyCOL7,
.PassengerDetails_Itinerary td.BodyCOL8 { 
	background: #FFF; 
}

/* Special Services */
/***************/
#dvSsrWrapper {
	margin: 10px 0 10px 15px;
}

#dvSsrWrapper li {
	list-style-type: none;
}

.PaxServiceDetail {
	width: 615px;
}

/* Remarks for Airline and Itinerary */
/*************************************/
.Remarks_Airline_Itinerary {
	margin-top: 15px;
}


.Remarks_Airline_Itinerary textarea {
	width: 615px;
	height: 70px;
	margin: 15px;
	padding: 10px 0;
	font: normal 11px tahoma;
	resize: none;
}

@-moz-document url-prefix() { 									/* hack FF only*/
	.Remarks_Airline_Itinerary textarea { 
		height: 70px !important; 
		} 
} 


@media screen and (min-width: 550px){ 							/*hack opera only*/
   .Remarks_Airline_Itinerary textarea { 
   		height: 68px; 
		}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 			/*hack Chrome only*/
	.Remarks_Airline_Itinerary textarea { 
		height: 70px; 
		} 
}

/* Seat Selection */
/******************/
.IndicatorPax { display: none; position: fixed;_position: absolute; z-index:1001; visibility: visible; width: 100%; margin: auto; margin-top: 100px;}

.SeatSelection {
	width: 905px;
	border: solid 1px #b5b4b0;
	background: #fff;
	text-align: left !important;
}

.SeatAssignment { 
	float:left; 
	background: #f2f2f2;
	margin: 10px 10px 10px 0;
}

.WrapperTBLSeat { 
	width:575px; 
	margin-top:10px;
	float: left;
}

.TBLSeatInfo { 
	padding:10px;
}

.TBLSeatAssign { 
	padding-left:15px;
}

.TBLSeatAssign td.available,
.TBLSeatAssign td.availableR,
.TBLSeatAssign td.selectedseat,
.TBLSeatAssign td.occupiedseat,
.TBLSeatAssign td.booked,
.TBLSeatAssign td.bookedR,
.TBLSeatAssign td.lava,
.TBLSeatAssign td.pantry {
	text-align: center; 
	cursor: pointer;
}

.TBLSeatAssign td.available { 
	background: url(../Images/available_seat.png) no-repeat; 
}

.TBLSeatAssign td.availableR { 
	background: url(../Images/available_seat_invert.png) no-repeat; 
}

.TBLSeatAssign td.selectedseat { 
	background: url(../Images/selected_seat.png) no-repeat; 
}

.TBLSeatAssign td.occupiedseat { 
	background: url(../Images/reserved.png) no-repeat;
}

.TBLSeatAssign td.booked { 
	background: url(../Images/occupied_seat.png) no-repeat;
}

.TBLSeatAssign td.bookedR { 
	background: url(../Images/occupied_seat_invert.png) no-repeat;
}

.TBLSeatAssign td.lava { 
	background: url(../Images/lavatory.png) no-repeat;
}

.TBLSeatAssign td.pantry { 
	background: url(../Images/galley.png) no-repeat;
}

.TBLSeatAssign td { 
	width: 25px; 
	text-align: center; 
	height: 26px;
	background: #f2f2f2;
}

.seatmaplegend {
	float: left;
	margin-right: 70px; 
}

.seatmaplegend div {
	height: 30px;
}

.TBLSeatInfo .Icon { 
	float: left; 
	padding-right: 20px;
}

.TBLSeatInfo .IconDesc { 
	float: left; 
	color: #605E5E; 
	font-weight: bold;
	line-height: 25px;
}

.TBLSeat,
.TBLSeatPerson { 
	width: 100%; 
}

.TableHeader {
	background: #b5b4b0;
	color: #fff;
	font-weight: bold;
}

.TBLSeat td,
.TBLSeatPerson td { 
	border-bottom: 1px solid #B5B4B0; 
	height: 25px; 
	padding: 0px 5px;
}

.TBLSeat td.HeadCOL1 { 
	width: 10%;
}

.TBLSeat td.HeadCOL2 { 
	width: 20%;
}

.TBLSeat td.HeadCOL3 { 
	width: 20%;
}

.TBLSeat td.HeadCOL4 { 
	width: 15%;
	text-align: center;
}

.TBLSeat td.HeadCOL5 { 
	width: 10%;
	text-align: center;
}

.TBLSeat td.HeadCOL6 { 
	width: 15%;
}

.TBLSeat td.BodyCOL1,
.TBLSeat td.BodyCOL2,
.TBLSeat td.BodyCOL3,
.TBLSeat td.BodyCOL4,
.TBLSeat td.BodyCOL5,
.TBLSeat td.BodyCOL6 { 
	border-bottom:1px solid #b5b4b0;
}

.TBLSeat td.BodyCOL4,
.TBLSeat td.BodyCOL5 {
	text-align:center;
}

.TBLSeat td.BodyCOL6 {
	text-align:center;
}


.TBLSeat tr.Selected { 	
	background: #e2e2e3;
}

.TBLSeat tr.NotSelected { 
	background: #fff; 
}

.TBLSeatPerson td.HeadCOL1 { 
	width: 10%; 
}

.TBLSeatPerson td.HeadCOL2 { 
	width: 35%; 
}

.TBLSeatPerson td.HeadCOL3 { 
	width: 35%; 
}

.TBLSeatPerson td.HeadCOL4 { 
	width: 10%;
}
.TBLSeatPerson td.HeadCOL5 { 
	width: 10%;
}

.TBLSeatPerson td.BodyCOL1,
.TBLSeatPerson td.BodyCOL2, 
.TBLSeatPerson td.BodyCOL3,
.TBLSeatPerson td.BodyCOL4, 
.TBLSeatPerson td.BodyCOL5 { 
	border-bottom:1px solid #b5b4b0; 
}

.TBLSeatPerson tr.Selected { 
	background: #e2e2e3; 
}

.TBLSeatPerson tr.NotSelected { 
	background:#fff;
}

/******************/
/* STEP 4 Payment */
/******************/
.Payment {
	float: left;
	width: 645px;
}

.PaymentMethod { 
	width: 645px; 
	border-top: solid 1px #b5b4b0;
}

.PaymentTypeName {
	margin-bottom: 20px;
}

.CreditCard {
	background: url(../Images/creditcard.jpg) no-repeat center bottom;
}

.CreditCardDisable {
	background: url(../Images/creditcarddisable.jpg) no-repeat center bottom;
}

.Voucher {
	background: url(../Images/voucher.jpg) no-repeat center bottom;
}

.VoucherDisable {
	background: url(../Images/voucherdisable.jpg) no-repeat center bottom;
}

.BookNowPayLater {
	background: url(../Images/booknow.jpg) no-repeat center bottom;
}

.BookNowPayLaterDisable {
	background: url(../Images/booknowdisable.jpg) no-repeat center bottom;
}

.External {
	background: url(../Images/other.jpg) no-repeat center bottom;
}

.ExternalDisable {
	background: url(../Images/otherdisable.jpg) no-repeat center bottom;
}

.CreditCard,
.Voucher,
.BookNowPayLater,
.External {
	color: #0A3070;
}

.CreditCardDisable,
.VoucherDisable,
.BookNowPayLaterDisable,
.ExternalDisable {
	color: #b1b1b1;
}

.CreditCard,
.Voucher,
.BookNowPayLater,
.External,
.CreditCardDisable,
.VoucherDisable,
.BookNowPayLaterDisable,
.ExternalDisable {
	height: 75px;
	width: 160px;
	float: left;
}

.PaymentTab { 
	float: left; 
	margin-top: 10px; 
	border-left: solid 1px #b5b4b0; 
	font-weight: bold; 
	width: 160px;
	text-align: center;
}

.PaymentTab a {
	text-decoration: none;
}

.first {
	border: none;
}

.TabCreditCard {
	display: block;
}

.PaymentMethodDetail { 
	float: left; 
	width: 645px; 
	margin-top: 10px;
}

/* Credit Card */
/***************/
.InformationInput select.CardExpiryDate {
	width: 50px;
	margin-right: 5px;
}

.DisplayCVV {
	background: url(../images/cvv.png) no-repeat;
	width: 229px;
	height: 72px;
	position: absolute;
	margin-top: -32px;
}

.InformationInput input.InputboxCVV { 
	width: 101px !important;
}

html>/**/body .InformationInput input.InputboxCVV, x:-moz-any-link, x:default { /* CSS hack for FF only */
	width: 103px !important;
}

.checkbox input {
	width: 13px;
	height: 13px;
	float: left;
}

.PaymentButton {
	width: 600px;
}

.displaycard {
	margin: 15px;
}

/* Voucher */
/***********/
.TabVoucher { 
	display: none;
}

#dvVoucherDetail {
	width: 625px;
	margin-left: 10px;
}

.TBLVoucher { 
	width: 100%; 
}

.TBLVoucher td { 
	border-bottom:1px solid #ffffff;
	height: 25px;
}



.TBLVoucher td.HeadCOL1,
.TBLVoucher td.BodyCOL1 { 
	width: 10%;
	padding-left: 15px;
}

.TBLVoucher td.BodyCOL1, 
.TBLVoucher td.BodyCOL2, 
.TBLVoucher td.BodyCOL3, 
.TBLVoucher td.BodyCOL4 {
    border-top: 1px solid #B5B4B0;
	border-bottom: none;
}

.TBLVoucher td.HeadCOL2,
.TBLVoucher td.BodyCOL2  { 
	width: 30%;
}

.TBLVoucher td.HeadCOL3,
.TBLVoucher td.BodyCOL3 { 
	width: 30%;
	text-align: right;
	padding-right: 15px;
}

.TBLVoucher td.HeadCOL4,
.TBLVoucher td.BodyCOL4 { 
	width: 30%;
	text-align: center;
}

#dvPayVoucher {
	display: none;
}

/* Book Now Pay Later */
/**********************/
#BookNow {
	display: none;
}

#BookNow ul {
	margin: 10px 15px;
}

#BookNow ul li {
	margin-left: 15px;
}

/* External */
/************/
#External {
	display: none;
}

.SpecialInformation {
	margin-left: 215px;
	margin-top: 5px;
	line-height: 25px;
}

.SpecialInformation img {
	float: left;
	margin: 0px 10px 10px 0;
}

.PaymentTopic {
	margin-left: 15px;
}

.HeaderTopic {
	margin: 20px 0;
}

/**************************/
/* Multipayment*/
/**************************/
#dvMultipleConfirm {
	display: none;
	color: #CC3333;
    font-weight: bold;
    margin-left: 10px;
    padding-bottom: 15px;
}

.multiplepayment {
	width: 1020px;
}

#dvMultiFormCCPayment {
    text-align: left;
	background: #FFF;
	padding: 0 20px;
}

.MultiplePaymentbyCreditCard {
    float: left;
	width: 645px;
	margin-top: 20px;
}

.MultiDisplayCVV {
    background: url(../images/cvv.png) no-repeat;
    height: 72px;
    margin-top: -32px;
    width: 229px;
	position: fixed;
}


/**************************/
/* STEP 5 Booking Summary */
/**************************/
#Bookingconfirmation {
	margin: 20px 0;
}

.BookingRefId {
	margin-left: 10px;
}

.COB {
	margin-bottom: 10px; 
	float: left
}

.TBLYourItinerary,
.TBLPassenger3,
.TBLTikets,
.TBLCostBreakDown,
.TBLPaymentReceived,
.ButtonYourItinerary,
.ButtonYourItinerary { 
	width: 100%; 
	border-collapse:collapse;
}

.TBLYourItinerary,
.TBLPassenger3,
.TBLTikets,
.TBLCostBreakDown,
.TBLPaymentReceived {
	/*border-left: solid 1px #B5B4B0;
	border-right: solid 1px #B5B4B0;*/
}

.TBLYourItinerary tr.TableHead td,
.TBLPassenger3 tr.TableHead td,
.TBLTikets tr.TableHead td,
.TBLCostBreakDown tr.TableHead td,
.TBLPaymentReceived tr.TableHead td,
.TBLYourItinerary tr.FlightInformation1 td,
.TBLPassenger3 tr.FlightInformation1 td,
.TBLTikets tr.FlightInformation1 td,
.TBLCostBreakDown tr.FlightInformation1 td,
.TBLPaymentReceived tr.FlightInformation1 td { 
 	height: 25px;
}

/* Fixed for IE7 */
.FlightInformation1 td {
	border-bottom: solid 1px #B5B4B0;
}
/*****************/


/* Itinerary */
/*************/
.TBLYourItinerary td.HeadCOL1, 
.TBLYourItinerary td.BodyCOL1 { 
	width: 15%;
	padding-left: 15px;
}

.TBLYourItinerary td.HeadCOL2,
.TBLYourItinerary td.BodyCOL2 { 
	width: 20%;
}

.TBLYourItinerary td.HeadCOL3,
.TBLYourItinerary td.BodyCOL3 { 
	width: 20%;
}

.TBLYourItinerary td.HeadCOL4,
.TBLYourItinerary td.BodyCOL4 { 
	width: 15%;
	text-align: center;
}

.TBLYourItinerary td.HeadCOL5,
.TBLYourItinerary td.BodyCOL5 { 
	width: 10%;
	text-align: center;
}

.TBLYourItinerary td.HeadCOL6,
.TBLYourItinerary td.BodyCOL6 { 
	width: 10%;
	text-align: center;
}

.TBLYourItinerary td.HeadCOL7,
.TBLYourItinerary td.BodyCOL7 { 
	width: 10%;
	text-align: center;
}

.LabAvailabilityFights { FONT-WEIGHT:bold; FONT-SIZE:9pt; VERTICAL-ALIGN:middle; LINE-HEIGHT:70px;}
.FareCalender .LabAvailabilityFights span { color:#c5112c;}


/* Passenger */
/*************/
.TBLPassenger3 td.HeadCOL1, 
.TBLPassenger3 td.BodyCOL1 { 
	width: 15%;
	padding-left: 15px;
}

.TBLPassenger3 td.HeadCOL2,
.TBLPassenger3 td.BodyCOL2 { 
	width: 10%;
}

.TBLPassenger3 td.HeadCOL3,
.TBLPassenger3 td.BodyCOL3 { 
	width: 20%;
}

.TBLPassenger3 td.HeadCOL4,
.TBLPassenger3 td.BodyCOL4 { 
	width: 20%;
}

.TBLPassenger3 td.HeadCOL5,
.TBLPassenger3 td.BodyCOL5 { 
	width: 10%;
	text-align: center;
}

.TBLPassenger3 td.HeadCOL6,
.TBLPassenger3 td.BodyCOL6 { 
	width: 15%;
	text-align: center;
}

.TBLPassenger3 td.HeadCOL7,
.TBLPassenger3 td.BodyCOL7 { 
	width: 10%;
	text-align: center;
}

/* Ticket and Seats */
/********************/
.TBLTikets td.HeadCOL1, 
.TBLTikets td.BodyCOL1 { 
	width: 15%;
	padding-left: 15px;
}

.TBLTikets td.HeadCOL2,
.TBLTikets td.BodyCOL2 { 
	width: 10%;
}

.TBLTikets td.HeadCOL3,
.TBLTikets td.BodyCOL3 { 
	width: 20%;
}

.TBLTikets td.HeadCOL4,
.TBLTikets td.BodyCOL4 { 
	width: 10%;
}

.TBLTikets td.HeadCOL5,
.TBLTikets td.BodyCOL5 { 
	width: 10%;
	text-align: center;
}

.TBLTikets td.HeadCOL6,
.TBLTikets td.BodyCOL6 { 
	width: 10%;
	text-align: center;
}

.TBLTikets td.HeadCOL7,
.TBLTikets td.BodyCOL7 { 
	width: 15%;
	text-align: right;
	padding-right: 15px;
}

.TBLTikets td.HeadCOL8,
.TBLTikets td.BodyCOL8 { 
	width: 10%;
}

/* Cost Breakdown */
/******************/
.TBLCostBreakDown td.HeadCOL1, 
.TBLCostBreakDown td.BodyCOL1 { 
	width: 15%;
	padding-left: 15px;
}

.TBLCostBreakDown td.HeadCOL2,
.TBLCostBreakDown td.BodyCOL2 { 
	width: 25%;
}

.TBLCostBreakDown td.HeadCOL3,
.TBLCostBreakDown td.BodyCOL3 { 
	width: 20%;
	text-align: right;
}

.TBLCostBreakDown td.HeadCOL4,
.TBLCostBreakDown td.BodyCOL4 { 
	width: 20%;
	text-align: right;
}

.TBLCostBreakDown td.HeadCOL5,
.TBLCostBreakDown td.BodyCOL5 { 
	width: 20%;
	text-align: right;
	padding-right: 15px;
}

/* Payment Received */
/********************/
.TBLPaymentReceived  td.HeadCOL1, 
.TBLPaymentReceived  td.BodyCOL1,
.TBLPaymentReceived  td.BodyCOL1Total { 
	width: 30%;
	padding-left: 15px;
}

.TBLPaymentReceived  td.HeadCOL2,
.TBLPaymentReceived  td.BodyCOL2,
.TBLPaymentReceived  td.BodyCOL2Total { 
	width: 25%;
}

.TBLPaymentReceived  td.HeadCOL3,
.TBLPaymentReceived  td.BodyCOL3,
.TBLPaymentReceived  td.BodyCOL3Total { 
	width: 25%;
}

.TBLPaymentReceived  td.HeadCOL4,
.TBLPaymentReceived  td.BodyCOL4,
.TBLPaymentReceived  td.BodyCOL4Total { 
	width: 10%;
	text-align: right;
	padding-right: 15px;
}

.TBLPaymentReceived  td.HeadCOL5,
.TBLPaymentReceived  td.BodyCOL5,
.TBLPaymentReceived  td.BodyCOL5Total { 
	width: 10%;
	text-align: right;
	padding-right: 15px;
}

/* Booking Summary Button */
/*********************/
.BacktoHomepageButton,
.CancelFlight {
   margin-right: 10px; 
   float: left;
}


/******************/
/* PASSENGER LIST */
/******************/
.TBLPopupWrapper { 
	width: 525px; 
	background: #ffffff; 
	border: solid 1px #978f68;
	/*left: 50%;
	position: fixed;
	z-index: 1002;
	margin: 262px 0 0 -262px;*/
	text-align: left !important;
}

.TotalPax { 
	float: right; 
	font-weight: bold; 
	margin-right: 15px;
}

.SelectedPassenger { 
	float: left;
}

.AvailablePassenger { 
	float: left; 
}

.PassengerList { 
	
	width: 100%;
}

.PassengerList td {
	border-bottom: solid 1px #B5B4B0;
	height: 25px;
	padding: 0 5px;
}

.PassengerList td.HeadCOL1 { 
	width: 5%;
}

.PassengerList td.HeadCOL2 { 
	width: 15%;
}

.PassengerList td.HeadCOL3 { 
	width: 25%;
}

.PassengerList td.HeadCOL4 { 
	width: 25%;
}

.PassengerList td.HeadCOL5 { 
	width: 15%;
}

.PassengerList td.HeadCOL6 { 
	width: 15%;
}

.PassengerList td.BodyCOL1,
.PassengerList td.BodyCOL2,
.PassengerList td.BodyCOL3,
.PassengerList td.BodyCOL4,
.PassengerList td.BodyCOL5,
.PassengerList td.BodyCOL6 { 
	background: #fff;
}

#ctl00_dvPassengerList {
	margin: 15px 15px 0 15px;
}

/*************/
/* FFP LOGIN */
/*************/

.FFPLogin { 
	text-align: left;
	margin: 15px;
}


/***********/
/* LOADING */
/***********/
.LoadingDisable { 
	filter:alpha(opacity=60); 
	opacity:0.6;
	display: block;
}










.FlightSelectionBox select.Day { width:40px;}
.FlightSelectionBox select.MonthYear { width:119px;}

.FlightSelectionBox li.passenger-student { width:100%; float:left; padding-top:5px;}

.FlightSelectionBox li.howmanypax { list-style:none; color:#333333;}
.FlightSelectionBox li.howmanypax a:link { list-style:none; color:#333333;}
.FlightSelectionBox li.howmanypax a:hover { list-style:none; color:#333333;}
.FlightSelectionBox li.howmanypax a:visited { list-style:none; color:#333333;}
.FlightSelectionBox li.howmanypax a:active { list-style:none; color:#333333;}

iframe .frmcls { border:none; background:none}

.Heading1 { float:left; font-weight:bold; color:#FF9900; font-size:14px;}
.Heading2 { float:left; font-weight:bold; color:#e86200; font-size:12px;}
.Heading3 { float:left; font-weight:bold; color:#000000; font-size:12px; text-decoration:underline;}

.TBLbodyHome { float:left; width:620px; background:#ffffff; font-size:10pt;}
.TBLbodyHome td { padding:5px 20px;}

.clearboth { clear:both; float:none; margin:0px; padding:0px; width:auto; height:0px; font-size:0px;}

.WrapperBody { padding:0px 10px 50px 10px; width:840px; background:#ffffff; min-height:500px;}
.WrapperBodyLong { padding:0px 10px 50px 10px; width:840px; background:#FFFFFF; min-height:1150px;}
.TextRed { color:#ff0000;}
.TextBlue { color:#000067}
.asterisk { color:#ff0000; font-weight:bold;}

.Flags { cursor:pointer; font-size:0px; text-align:right;}
.Flags img { width:16px; height:11px; padding:2px 1px;}


/*UserInfo Search Button*/
.ButtonAlignMiddleUserInfo { float:left; margin-top:10px; margin-right:10px;} 

/*Progress bar*/


.NoFlightFound { float:left; padding-top:20px;}

/*Error Message*/
.pnError { color:red;}

/*Header Menu */
.ImgHeader { width:860px; height:170px; background:url(../Images/ImgHeader.jpg) no-repeat;}
#MenuIFrame { DISPLAY:none; Z-INDEX:99; LEFT:0px; WIDTH:100px; POSITION:absolute;}



/*Footer*/

/*Button*/


/************ FaceBook start ************/
.PopupFB {width:700px; margin:0 auto; FONT-FAMILY: Tahoma, Arial, sans-serif, verdana; font-size:12px; background:#e6e6e6; color:#605e5e; border: 1px solid #a1a1a1;}
.FBtop {clear:both; padding:12px 10px 0px 10px;}
.FBtop span{text-align:center; font-weight:bold; font-size:18px; color:#cc3333; margin-left:140px; float:left;}
.FBclose {font-size:14px; color:#FF0000; font-weight:bold; float:right; cursor:pointer;}
.FBmid {margin:15px 10px; border:#CCCCCC dotted 1px; background:#ffffff; text-align: left;}
.FBdetail {float:left; width:494px; margin:10px;}
.FBlogo {float:left; width:150px; height:70px; background:url(../Images/mainlogo.png) no-repeat; margin:10px 10px 10px 0px;}
.FBselect {border:#CCCCCC solid 2px; margin:0px 10px 10px 10px; padding:10px 0px; float:left; width:654px; background: #e3e3e3;}
.FBclear {clear:both; float:none; font-size:0px; height:1px;}
.FBleft1 {width:120px; float:left; text-align:right; line-height:25px; display:block;}
.FBleft2 {width:100px; float:left; text-align:right; line-height:25px; display:block;}
.FBinfo {width:20px; height:25px; float:left; background:url(../Images/info.gif) center right no-repeat; cursor:pointer;}
.FBright {width:400px; float:left; padding-left: 20px; display:block; margin:3px 0px;}
.FBright select {font-size:11px; color:#646464; padding:1px;}
ul.BTNfb {float:right; margin:0; padding:0; margin:0px 12px 30px 0px;}
ul.BTNfb li {float:right; margin:0; padding:0; height:25px; display:inline;}
ul.BTNfb li.left { background:url(../Images/BTNfb.gif) no-repeat; width:10px;}
ul.BTNfb li.mid { background:url(../Images/BTNfb.gif) center repeat-x; font-weight:bold; color:#ffffff; line-height:22px;}
ul.BTNfb li.mid:hover {text-decoration:underline; cursor:pointer;}
ul.BTNfb li.right { background:url(../Images/BTNfb.gif) no-repeat bottom right; width:20px;}

.FBselect ul { float: left; width: 100%;}
.FBselect ul li.typeleft { float:left; margin:0; padding-left:55px; margin:0px 12px 5px 0px; text-align: right;}
.FBselect ul li.typeright { float:left; margin:0; margin:0px 12px 5px 0px; text-align: right;}
.FBselect ul li.FromTo { width:120px; float:left; text-align:right; line-height:25px; display:block;}
.FBselect ul li.TabDate { width:400px; float:left; padding-left: 20px; display:block; margin:3px 0px;}
/************ FaceBook end ************/
