
/* BODY { background-color:#818181; margin:0px; padding:0px;}*/
/*

 Some styles used by the "Cascading Popup Menus" script.
 Consult a CSS reference (a good clear one is at www.ncdesign.org) for syntax and tweaking ideas.
 You can delete the ones you're not using in your ItemStyles, or add more if you want.

*/


/*
 Font settings -- change your font, colour, alignment etc.
 Insert 'font-weight: bold;' or 'font-style: italic;' without quotes if you want.
 Note that items contain <A HREF> tags, so if your other stylesheets style anchor tags,
 these may inherit the rules. I've styled all the variations of links here as one.
*/

.lowText, a.lowText:link, a.lowText:visited, a.lowText:active, a.lowText:focus {
 color: #000000;
 font: 8pt Tahoma;
 text-align: left;
 text-decoration: none;
}

.highText, a.highText:link, a.highText:visited, a.highText:active, a.highText:focus {
 color: #FFFFFF;
 font: 9pt "Trebuchet MS", Tahoma, Verdana;
 text-align: left;
 text-decoration: none;
}

/* Borders used by some items */

.itemBorder {
 border: 1px solid #FFFFFF;
}
.itemBorderBlank {
 border: 1px solid #CCCCDD;
}

/* The "button" demo menu styles, as used by the "File-Reopen" menu. Delete if not using */

.buttonText, a.buttonText:link, a.buttonText:visited, a.buttonText:active, a.buttonText:focus {
 text-decoration: none;
 color: #FFFFFF;
 font-size:8pt;
 font-family: Tahoma;
 font-weight: bold;
}
.buttonHover, a.buttonHover:link, a.buttonHover:visited, a.buttonHover:active, a.buttonHover:focus {
 text-decoration: none;
 color: #FFFFFF;
 font-size:8pt;
 font-family: Tahoma;
 font-weight: bold;
}
.buttonBorder {
 border: 1px outset #FFFFFF;
}
.buttonBorderOver {
 border: 3px outset #FFFFFF;
}


.Wrapper{ margin:0px auto; width:859px; }
.WrapperHeader{ background-image:url(../images/bg_top.gif); width:859px; height:120px; }
.Logo{ float:left; width:238px; height:94px;}
.Search{ float:right; padding:20px 5px 0px 100px; width: 400px;}
.InputSearch{border-style:solid; background-color:#079bac; height:25px; border-color:03737F; border-width:1px; padding-left:3px; padding-top:3px; width:134px; font-family: Arial; font-size: 10pt; color:#079BAC;}
.WrapperBody{ background-color:#FFFFFF; height:auto; }
.Footer{ margin:0px;  padding:0px; }
.WrapperDetail{ float: left; width:660px;height:410px;*overflow:scroll; overflow-y:scroll; overflow-x:hidden;  }
.TBLBody{padding-right:5px; background-color:#FFFFFF; width:651px;}
.dot { float: left; width: 150px;height: 30px; padding-top: 30px; background: url(../images/pic_dot.jpg) no-repeat; background-position: left;} 
.line { width:580px; height:1px; background:url(../images/pic_line.jpg) repeat-x;}
.line2 { width:580px; height:1px; background:url(../images/pic_line2.jpg) repeat-x;}

.abc { background-color:#FFCC00; color:#666666; font-size:10px; height:26px; padding-left:20px;}
/*
.TBLLeftMenu {border-collapse:collapse; width: 183px; background-color:#FFFFFF;}
.TBLLeftMenu .active{background-color:#FFE78E; color:#666666;}

.TBLSubMenu {border-collapse:collapse; width: 183px; background-color:#FFFFFF;}
.TBLSubMenu .active{background-color:#FFE78E; color:#666666;}


.Tbl_td {
	height: 26px;
	width: 183px;
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #666666;
	padding-top: 0px;
}
.Tbl_td td a:hover, .Tbl_td a:hover{
	font-family : Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #666666;
	width: 183px;
	height: 23px;
	text-decoration: none;
	background: #FFCC00;
}
.Tbl_td img {
	float: left;
}
*/